<script setup lang="ts">
import { news } from "@/data";
// import usePromise from "@/hooks/usePromise";
import type { NewsDao, NewsDaoStatic } from "@/types/Dao/News";
import { ref, watch } from "vue";
const newsList = ref<NewsDaoStatic[]>(news);
// const { result, createPromise } = usePromise();
// const newsList = ref<NewsDao[]>();
// createPromise("news");
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.status && !!newVal.data?.news) {
//     newsList.value = newVal.data.news;
//   }
// });
</script>
<template>
  <main>
    <div class="inside-banner" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h6 class="en-tit inside-banner-title">آخر الأخبار</h6>
        </div>
      </div>
    </div>
    <section class="mainServiceSec section inside-services" id="service">
      <div class="container">
        <div class="row" v-if="!!newsList">
          <!-- News Here -->
          <div v-for="(item, i) in newsList" class="col-md-4 col-sm-6 col-12">
            <router-link :to="{ name: 'news.single', params: { news_id: i + 1 } }">
              <div class="serviceBox">
                <figure :style="`background-image: url(/${item.image});`"></figure>
                <div class="serviceInnerBox">
                  <p>{{ item.title }}</p>
                </div>
              </div>
            </router-link>
          </div>
          <!-- News Here -->
        </div>
      </div>
    </section>
  </main>
</template>
