<script setup lang="ts">
import { news } from "@/data";
// import usePromise from "@/hooks/usePromise";
import type { NewsDao, NewsDaoStatic } from "@/types/Dao/News";
import { convertDateStr } from "@/utils";
import { ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
const news_id = Number(useRoute().params.news_id);
if (news_id - 1 < 0 && !news[news_id - 1]) {
  useRouter().replace({ path: "/home" });
}
const newsData = ref<NewsDaoStatic>(news[news_id - 1]);
// const { result, createPromise } = usePromise();
// const newsData = ref<NewsDao>();
// createPromise("news/" + news_id);
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.status && !!newVal.data?.news) {
//     newsData.value = newVal.data.news;
//   }
// });
</script>
<template>
  <main v-if="!!newsData">
    <div class="inside-banner" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h6 class="en-tit inside-banner-title">آخر الأخبار</h6>
        </div>
      </div>
    </div>
    <section class="single-main">
      <div class="container">
        <div class="row">
          <div class="col-12"></div>
          <div class="col-lg-8 col-md-7 col-12">
            <h5 class="news-title-s">{{ newsData.title }}</h5>

            <div class="single-content">
              <h6>{{ convertDateStr(newsData.date) }}</h6>
              <p>{{ newsData.body }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 col-12">
            <img :src="'/' + newsData.image" class="thumbnail" />
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<style scoped>
.thumbnail {
  width: 100%;
}
</style>
