	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/05/2020 06:05
  	*/

	@font-face {
	  font-family: "Flaticon";
	  src: url("/fonts/Flaticon.eot");
	  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	    url("/fonts/Flaticon.woff2") format("woff2"),
	    url("/fonts/Flaticon.woff") format("woff"),
	    url("/fonts/Flaticon.ttf") format("truetype"),
	    url("/fonts/Flaticon.svg#Flaticon") format("svg");
	  font-weight: normal;
	  font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	  @font-face {
	    font-family: "Flaticon";
	    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
	  }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	  font-family: Flaticon;
	  font-style: normal;
	}

	.flaticon-computing:before {
	  content: "\f100";
	}

	.flaticon-education:before {
	  content: "\f101";
	}

	.flaticon-business:before {
	  content: "\f102";
	}

	.flaticon-communications-1:before {
	  content: "\f103";
	}

	.flaticon-graduated:before {
	  content: "\f104";
	}

	.flaticon-tools-and-utensils:before {
	  content: "\f105";
	}

	.flaticon-communications:before {
	  content: "\f106";
	}

	.flaticon-web-design:before {
	  content: "\f107";
	}