@font-face {
    font-family: SecFont;
    src: url(/fonts/new/IBMPlexSansArabic-Regular.ttf)
}
.menu {
    width: 100%;
    height: 75px;
    background-color: black;
    position: fixed;
    background-color: rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .light-menu {
    width: 100%;
    height: 75px;
    background-color: white;
    position: fixed;
    background-color: rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
  }
  #menu-center ul {
    margin: 15px 0 0 0;
  }
  #menu-center ul li {
    list-style: none;
    margin: 0 30px 0 0;
    display: inline;
  }
  
  .active3 {
    font-family: SecFont;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
  }
  
  a {
    font-family: SecFont;
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 50px;
  }
  
  #home {
    background-color: grey;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  #portfolio {
    background-color: yellow;
    height: 120%;
    width: 100%;
  }
  
  #about {
    /* background-color: blue; */
    height: 120%;
    width: 100%;
  }
  
  #contact {
    background-color: red;
    height: 120%;
    width: 100%;
  }
  
  .bullet-nav {
    list-style: none;
    position: fixed;
    height: 105px;
    right: 0.9vw;
    top: 50%;
    z-index: 998;
    transform: translate(-50%, -50%);
  }
  .bullet-nav__item {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .bullet-nav__link {
    border: 1px solid white;
    background-color: white;
    display: block;
    width: 14px;
    height: 14px;
    padding: 0;
    border-radius: 15%;
    margin-bottom: 20px;
    backface-visibility: hidden;
    transition: all 0.3s;
    margin: 8px;
    border: 2px solid transparent !important;
  }
  .bullet-nav__link:not(.active3):hover {
    border: 1px solid white;
    background-color: white;
  }
  .bullet-nav__link.active3 {
    border: 1px solid white;
    background-color: #009d87;
    transform: scale(1.1);
  }

  [dir="rtl"]  .bullet-nav {
    list-style: none;
    position: fixed;
    height: 105px;
    left: -92.1vw;
    top: 50%;
    z-index: 998;
    transform: translate(-50%, -50%);
}
.header-area {
    position: absolute;
    top: 0px;
    background: transparent;
    left: 0;
    right: 0;
    z-index: 11;
}
.logo img {
    padding: 3px 0px;
    width: 223px;
}
.logo-bot-p {
    color: white;
    margin: 0;
    line-height: 0;
    margin-top: 15px;
    font-size: 13px;
}
.logo-bot-p img {
    margin: 0 5px;
}
[dir="rtl"] .logo-border {
    border-left: 7px solid #00b9a0;
    padding-top: 5px;
    padding-bottom: 5px;
}
[dir="rtl"] .last-bot {
    position: relative;
}
[dir="rtl"] .last-bot::before {
    content: "";
    position: absolute;
    border-right: 1px solid white;
    margin-left: -21px;
    height: 14px;
    right: -13px;
}
[dir="rtl"] .logo-bot-p {
    direction: ltr;
}
.custom-container {
    width: 80%;
    margin: auto;
}
.home-banner {
    /* padding: 130px 0;
    padding-bottom: 300px;
    padding-top: 41px; */
    background-image: url("/images/ho.jpg   ");
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    padding: 220px 0px;
    text-align: right;
    position: relative;
}
.home-banner::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.home-banner a{
    background: #009e88;
    border: 0;
    padding: 10px 25px;
    /* padding-bottom: 19px; */
    margin-top: 54px;
    color: white;
    /* padding-top: 20px; */
    font-family: SecFont !important;
    line-height: inherit;

}
.abt-top{
    background: #fff;
    text-align: center;
    margin: auto;
    font-size: 40px;
    color: #006b52;
    font-weight: bolder;
    font-family: SecFont !important;
    padding: 15px 0;
}

.home-banner .banner-round {
    border: 0;
    position: absolute;
    width: 129px;
    left: 2px;
    top: 120px;
}
.home-banner .leave-1 {
    width: 70px;
    border: 0;
    position: absolute;
    bottom: -10px;
    left: 40px;
}
.home-banner .leave-2 {
    width: 120px;
    border: 0;
    position: absolute;
    top: 209px;
    right: 0;
}
.home-banner .leave-3 {
    width: 98px;
    border: 0;
    position: absolute;
    top: 209px;
    right: 600px;
    left: 0;
    margin: auto;
    bottom: -300px;
}
.home-banner .leave-4 {
    width: 108px;
    border: 0;
    position: absolute;
    top: 209px;
    right: -120px;
    left: 0;
    margin: auto;
    bottom: -349px;
}
.home-banner .leave-5 {
    width: 198px;
    border: 0;
    position: absolute;
    top: 69px;
    right: 0;
    margin: auto;
    bottom: -349px;
}
.home-banner .en-tit {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 13px;
    font-family: SecFont !important;

}
.home-banner .new-tit {
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}
[dir="rtl"] .home-banner .new-tit {
    text-align: right;
}
[dir="rtl"] .home-banner .en-tit {
    /* text-align: right; */
}
[dir="rtl"] .home-banner .ar-tit {
    text-align: right;
}
.home-banner .ar-tit {
    font-size: 20px;
    color: white;
    text-align: left;
    margin-bottom: 25px;
    font-family: SecFont !important;

}
.bot-bor-head {
    border-bottom: 1px solidwhite;
}
.exhibition-sec-new {
    background: #a5cd39;
    padding: 90px 0px !important;
    position: relative !important;
}
.exhibition-1 {
    width: 170px;
    border: 0;
    position: absolute;
    top: -50px;
    left: -30px;
}
.exhibition-2 {
    width: 170px;
    border: 0;
    position: absolute;
    top: 350px;
    left: -30px;
}
.exhibition-3 {
    width: 130px;
    border: 0;
    position: absolute;
    top: 80px;
    right: 0;
}
.exhibition-4 {
    width: 150px;
    border: 0;
    position: absolute;
    bottom: -60px;
    right: 35px;
}
.exhibition-sec-new h1 {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
}
[dir="rtl"] .exhibition-sec-new h1 {
    text-align: right;
}
.exhibition-sec-new figure {
    height: 313px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.exhibition-sec-new .reg-btn {
    background: #006b55;
    padding: 11px 47px;
    padding-top: 8px;
    font-size: 16px;
    border-radius: 42px;
    margin-top: 63px;
    display: block;
    width: 34%;
    text-align: center;
}
.exhibition-sec-new h4 {
    text-align: right;
    color: white;
    margin-top: 50px;
}
[dir="rtl"] .exhibition-sec-new h4 {
    text-align: left;
}
.exhibition-sec-new p {
    color: #006b55;
    line-height: 1.3;
    margin-top: 50px;
    font-size: 18px;
}
[dir="rtl"] .exhibition-sec-new p {
    text-align: right;
}
.contribute-sec {
    padding: 100px 0;
    position: relative;
}
.contribute-sec .contribute-1 {
    width: 66px;
    border: 0;
    position: absolute;
    top: -25.1px;
    left: 114px;
}
.contribute-sec .contribute-2 {
    width: 76px;
    border: 0;
    position: absolute;
    bottom: 126px;
    left: 114px;
}
[dir="rtl"] .contribute-sec .contribute-2 {
    width: 76px;
    border: 0;
    position: absolute;
    bottom: 46px;
    left: 114px;
}

[dir="rtl"] .contribute-sec {
    text-align: right;
}
.contribute-sec h1 {
    font-size: 30px;
    font-weight: bold;
    color: #006b55;
}
.contribute-sec p {
    line-height: 1.4;
}
.exhibi-slider {
    background: linear-gradient(180deg, #ffffff 60%, #a5cd39 60%);
    z-index: 1;
}
.exhibi-item {
    margin-right: 10px;
}
.exhibi-item figure {
    height: 300px;
    background-size: cover;
    margin-bottom: 0;
}
.ven-sec-new {
    padding: 90px 0;
    background: #a5cd39;
    position: relative;
    padding-bottom: 180px;
}
.ven-sec-new .ven-sec-new-1 {
    width: 216px;
    border: 0;
    position: absolute;
    top: -40px;
    left: -70px;
}
.ven-sec-new .ven-sec-new-2 {
    width: 106px;
    border: 0;
    position: absolute;
    top: 40px;
    right: 140px;
}
[dir="rtl"] .ven-sec-new .ven-sec-new-2 {
    right: unset;
    left: 140px;
}
.ven-sec-new .ven-sec-new-3 {
    width: 106px;
    border: 0;
    position: absolute;
    left: -30px;
    bottom: 40px;
}
.ven-sec-new .ven-sec-new-4 {
    width: 66px;
    border: 0;
    position: absolute;
    left: 590px;
    bottom: 40px;
}
.ven-sec-new .ven-sec-new-5 {
    width: 446px;
    border: 0;
    position: absolute;
    right: -120px;
    bottom: -50px;
}
.venue-item {
    border: 1px solid #006b55;
    padding: 26px 5px;
    margin-top: 108px;
    border-radius: 6px;
    padding-top: 10px;
}
.venue-item h6 {
    font-weight: bold;
    color: white;
    text-align: center;
    border-bottom: 1px solid #006b55;
    padding-bottom: 19px;
    padding-top: 15px;
}

.ven-sec-new h1 {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 50px;
}
[dir="rtl"] .ven-sec-new h1 {
    text-align: right;
}
.ven-sec-new p {
    color: white;
    line-height: 1.3;
    margin-top: 50px;
    font-size: 18px;
}
[dir="rtl"] .ven-sec-new p {
    text-align: right;
    font-size: 15px;
}
.venue-item p {
    color: white;
    line-height: 1.3;
    margin-top: 20px;
    font-size: 18px;
    text-align: center !important;
}
.axes-sec {
    padding: 140px 0;
    position: relative;
}
.axes-sec .axes-sec-1 {
    width: 66px;
    border: 0;
    position: absolute;
    right: 40px;
    top: 100px;
}
.axes-sec .axes-sec-2 {
    width: 93px;
    border: 0;
    position: absolute;
    left: 25px;
    bottom: 80px;
}
.axes-sec .axes-sec-3 {
    width: 123px;
    border: 0;
    position: absolute;
    left: 0;
    bottom: -55px;
    right: -220px;
    margin: auto;
}
.axes-sec .axes-sec-4 {
    width: 83px;
    border: 0;
    position: absolute;
    /* left: 0; */
    bottom: 145px;
    right: 150px;
    margin: auto;
}
.axes-sec h1 {
    font-size: 30px;
    font-weight: bold;
    color: #006b55;
}
[dir="rtl"] .axes-sec h1 {
    text-align: right;
}
.axes-sec p {
    line-height: 1.3;
    font-size: 18px;
}
[dir="rtl"] .axes-sec p {
    text-align: right;
}
.axes-row {
    display: flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 11px; */
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 60px;
}
.axes-item {
    text-align: center;
    width: 19%;
    background: #75a842;
    margin: 0px;
    padding: 26px 3px;
    border-radius: 12px;
    height: 237px;
    padding-top: 26px;
}
.axes-item p {
    color: white;
    text-align: center !important;
    font-size: 14px;
}
.top-border {
    border-top: 1px solid #b2aeae;
    padding-top: 30px;
}
footer {
    position: relative;
    background: #006b52;
    padding-top: 70px;
}
.gallery-heading {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 70px;
}
[dir="rtl"] .gallery-heading {
    text-align: right;
}
.foot-frst {
    width: 121px;
    margin-top: 16px;
}
.speakers-section {
    background: #a5cd39;
    padding: 70px 0px;
    position: relative;
}
.speakers-section-1 {
    width: 96px;
    border: 0;
    position: absolute;
    left: 125px;
    top: 580px;
}
.speakers-section .head {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 50px;
    text-align: left;
}
[dir="rtl"] .speakers-section .head {
    text-align: right;
}
.speakers-section .head-2 {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    margin-top: 21px;
}
[dir="rtl"] .speakers-section .head-2 {
    text-align: right;
}
.speakers-section a {
    color: #006b55;
    float: right;
    text-decoration: underline;
    margin-top: 30px;
}
[dir="rtl"] .speakers-section a {
    float: left;
}
.speaker-container {
    width: 90%;
    margin-left: auto;
}
.speaker-item {
    margin-right: 5px;
}

.seesion {
    margin-top: 250px;
    position: relative;
}
.agenda-1 {
    width: 206px;
    border: 0;
    position: absolute;
    left: -140px;
    top: -100px;
}
.agenda-2 {
    width: 116px;
    border: 0;
    position: absolute;
    left: -110px;
    bottom: 50px;
}
.agenda-3 {
    width: 116px;
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -130px;
}
.agenda-4 {
    width: 256px;
    border: 0;
    position: absolute;
    right: -110px;
    margin: auto;
    bottom: -120px;
}
.session .head {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    text-align: left;
}
.dot-row {
    width: 87%;
    margin-left: auto;
    border-top: 1px solid white;
    margin-right: 50px;
    display: table;
    position: relative;
}
.dot-item {
    width: 33.33%;
    float: left;
    position: relative;
    cursor: pointer;
}
[dir="rtl"] .dot-item {
    float: right;
    padding-right: 20px;
}
.dot-item::before {
    content: "";
    position: absolute;
    background: white;
    height: 20px;
    width: 20px;
    top: -11px;
    border-radius: 50px;
}
[dir="rtl"] .dot-item::before {
    right: 0;
}

.dot-item h5 {
    font-size: 14px;
    margin-top: 13px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 25px;
}
[dir="rtl"] .dot-item h5 {
    text-align: right;
}
.dot-content-box {
    background: transparent;
    transition: 0.5s;
    padding: 24px 30px;
    border-radius: 6px;
}
.dot-item p {
    color: #ffffff;
    line-height: 1.2;
}
[dir="rtl"] .dot-item p {
    text-align: right;
    line-height: 1.2;
}
.dot-content-box h4 {
    font-size: 15px;
    color: white;
}
[dir="rtl"] .dot-content-box h4 {
    text-align: right;
}
.dot-item:hover::before {
    background: #006b55;
}

.dot-item:hover h5 {
    color: #006b55;
}
.dot-item:hover .date-p {
    color: #006b55;
}
.dot-item:hover .dot-content-box {
    background: #75a842;
}

/* ************************************************ */
.speakers-page-main {
    padding: 60px 0;
}
.speakers-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}
.speakers-row .speakers-item {
    width: 19%;
    margin-bottom: 60px;
    position: relative;
}
.speakers-row .speakers-item img {
    height: 211px;
    width: 100%;
}

.speakers-page-main h1 {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 60px;
}
[dir="rtl"] .speakers-page-main h1 {
    text-align: right;
    position: relative;
}
.speakers-item h4 {
    font-size: 19px;
    font-weight: 700;
    color: #006b55;
    margin: 11px 0px;
    margin-bottom: 0;
}
[dir="rtl"] .speakers-item h4 {
    text-align: right;
}
[dir="rtl"] .speakers-item p {
    text-align: right;
}
.speakers-item p {
    font-size: 15px;
    line-height: 1;
    margin-top: 6px;
}

/* ********************************* */

.main-agenda-section {
    background: white;
    padding: 70px 0 0 0px;
}
.main-agenda-section .head {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 50px;
    text-align: left;
}
[dir="rtl"] .main-agenda-section .head {
    text-align: right;
}
.main-agenda-section a {
    /* color: #006b55;
    float: right;
    text-decoration: underline; */
}
.agenda-container {
    width: 90%;
    margin-left: auto;
}
[dir="rtl"] .agenda-container {
    margin-left: 0;
    margin-right: auto;
}
.agenda-item {
    margin-right: 5px;
    width: 299px;
    background: #96c13c;
    padding: 51px 11px;
    border-radius: 2px;
    transition: 0.5s;
}
[dir="rtl"] .agenda-item {
    text-align: right;
}
.agenda-item p {
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #006b52;
    line-height: 1;
}
.agenda-item:hover {
    background: #75a842;
}
.agenda-item h1 {
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.agenda-item h2 {
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #006b52;
}
.agenda-item ul li {
    color: white;
}
.agenda-reg-btn {
    background: #006b55;
    padding: 11px 0px;
    padding-top: 8px;
    font-size: 16px;
    border-radius: 42px;
    margin-top: 63px;
    display: block;
    width: 34%;
    text-align: center;
}
.second {
    color: grey;
}
.second-left {
    text-align: right;
    color: #006b55;
    margin-top: 50px;
}
[dir="rtl"] .second-left {
    text-align: left;
}
.agenda-inside-main {
    background: #96c13c;
    padding: 80px 0;
}

/* ************************************** */
.exhib-main {
    background: #96c13c;
    padding: 100px 0;
}
.exhib-main h1 {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 50px;
    text-align: left;
}
[dir="rtl"] .exhib-main h1 {
    text-align: right;
}
.exhib-item {
    background: #75a842;
    height: 100%;
    text-align: center;
    padding: 40px 10px;
    border-radius: 6px;
}
.exhib-item img {
    height: 60px;
    margin-bottom: 25px;
}
.exhib-item h6 {
    color: white;
}

.audien-p-head {
    font-size: 50px !important;
}
.audience-item {
    height: 200px !important;
}
.audience-item p {
    font-size: 14px !important;
    margin-top: 20px !important;
}
.see-all-arrow {
    width: 9px;
    margin-left: 9px;
}
.agenda-inside-main .head {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 70px;
    text-align: left;
}
[dir="rtl"] .agenda-inside-main .head {
    text-align: right;
}
.padd-l {
    padding-left: 31px;
}
[dir="rtl"] .rtl-arrow {
    transform: rotate(180deg);
    margin-right: 2px;
}

.agenda-slider .slick-track {
    display: flex !important;
}
.agenda-slider .slick-slide {
    height: inherit !important;
    /* background: #ffffff7d; */
}
.youtube-main {
    padding: 50px 0;
}
.youtube-main h1 {
    font-size: 50px;
    font-weight: bold;
    color: #006b55;
    margin-bottom: 30px;
}
.youtube-main p {
    font-weight: 700;
    color: #006b55;
    margin-bottom: 30px;
}
/*===== END OF WAQAS CSS ====*/

/*=====CUSTOM CLASS =====*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.start {
    left: 0;
}
.end {
    right: 0;
}

/*====== ANIMATION ====*/
.leave {
    left: 0;
    top: 366px;
}

.circle {
    right: 40px;
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out;
    -moz-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
}

.downwardC {
    right: 300px;
    bottom: 50px;
}

.fade-in-text {
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dashboard-main {
    padding: 60px 0;
}
.dash-time-tit {
    color: #97c23c;
    font-weight: 700;
}
.client-section {
    position: relative;
}
.client-section-1 {
    width: 96px;
    border: 0;
    position: absolute;
    right: 260px;
    margin: auto;
    bottom: -52px;
    z-index: 1;
}
[dir="rtl"] .home-main {
    overflow: hidden;
}
@media only screen and (max-width: 991px) {
    .reg-bbt {
        width: 100% !important;
        margin-top: 11px;
    }
    .rt-first {
        padding-right: 0 !important;
    }
    .d-none-on-mbile {
        display: none;
    }
    .vn-new-2 {
        margin-bottom: 30px;
    }
    .nor-d-none {
        display: none !important;
    }
    .rtl-dis-none {
        display: none;
    }
    .home-banner .new-tit {
        font-size: 11px;
    }
    .home-main {
        overflow: hidden;
    }
    .home-banner img {
        width: 200px;
    }
    /* .home-banner .en-tit {
        font-size: 14px;
        margin-bottom: 15px;
    } */
    .home-banner .ar-tit {
        font-size: 12px;
    }
    .home-banner .leave-2 {
        display: none;
    }
    .home-banner .banner-round {
        border: 0;
        position: absolute;
        width: 99px;
        right: 42px;
        top: 160px;
        left: unset;
    }
    .home-banner .leave-4 {
        width: 108px;
        border: 0;
        position: absolute;
        top: 60px;
        right: -170px;
        left: 0;
        margin: auto;
        bottom: unset;
    }
    .exhibition-1 {
        display: none;
    }
    .home-banner {
        /* padding: 130px 0;
        padding-bottom: 80px;
        padding-top: 41px;
        position: relative; */
    }
    .home-banner .leave-5 {
        width: 136px;
        border: 0;
        position: absolute;
        top: -81px;
        right: -20px;
        margin: auto;
        bottom: -349px;
        z-index: 1;
        display: none;
    }
    .home-banner .leave-1 {
        width: 50px;
        border: 0;
        position: absolute;
        bottom: 0;
        left: 50px;
    }
    .sec-sectoion-head {
        font-size: 20px !important;
        margin-bottom: 49px !important;
    }
    .child {
        width: 50% !important;
    }
    .exhibition-sec-new h4 {
        text-align: right;
        color: white;
        margin-top: 70px;
        font-size: 14px;
    }
    .child::before {
        content: ":";
        position: absolute;
        color: white;
        font-size: 37px;
        right: -11px;
        top: -13px;
        display: none !important;
    }
    .contribute-sec-mob {
        padding: 100px 0 !important;
    }
    .contribute-sec .contribute-2 {
        width: 76px;
        border: 0;
        position: absolute;
        bottom: 36px;
        left: 24px;
    }
    .ven-sec-new-mob {
        padding: 100px 0 !important;
    }
    .ven-sec-new .ven-sec-new-2 {
        width: 56px;
        border: 0;
        position: absolute;
        top: 10px;
        right: 80px;
    }
    .axes-sec-mob {
        padding: 100px 0 !important;
    }
    .axes-sec-1 {
        display: none;
    }
    .axes-sec p {
        line-height: 1.3;
        font-size: 16px;
        margin-top: 40px;
    }
    .axes-sec .axes-sec-2 {
        display: none;
    }
    .axes-sec .axes-sec-4 {
        display: none;
    }
    .speakers-section a {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .speakers-section-mob {
        padding: 100px 0 !important;
    }
    .speakers-section-1 {
        width: 36px;
        border: 0;
        position: absolute;
        right: 25px;
        top: 680px;
    }
    .dot-row-mob {
        border: 0 !important;
    }
    .dot-item-mob {
        text-align: center;
    }
    .dot-item::before {
        display: none;
    }
    .agenda-4 {
        display: none;
    }
    .agenda-3 {
        display: none;
    }
    .client-section-1 {
        display: none;
    }
    .home-banner .leave-3 {
        display: none;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

blink {
    animation: blink 1s infinite;
}
.header-new-btn {
    display: none;
}
.show-in-mob {
    display: none;
}
@media only screen and (max-width: 991px) {
    [dir="rtl"] .speakers-section a {
        float: left;
        font-size: 12px;
    }
    .show-in-mob {
        display: block;
    }
    .hide-in-mob {
        display: none;
    }
    .dot-content-box h4 {
        text-align: left;
    }
    [dir="rtl"] .dot-content-box h4 {
        text-align: right;
    }
    [dir="rtl"] .reg-heading {
        text-align: right;
        padding-right: 0px;
        font-size: 29px;
        margin-top: 30px;
    }
    .countdown-2 {
        padding-right: 24px !important;
    }
    .countdown-3 {
        padding-right: 0px !important;
        gap: 11px;
        margin-top: 30px;
    }
    .join-btn {
        width: 100% !important;
    }
    .header-new-btn {
        display: block;
        background: #006b55;
        height: 43px;
        font-size: 16px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 22px;
        border-radius: 30px;
    }
}
.d-none-in-en {
    display: none;
}
[dir="rtl"] .d-none-in-en {
    display: block;
}
.speakers-page-main {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
}

.main-agenda-section {
    overflow: hidden;
}
.start-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-btn-box a {
    width: 50%;
}
.line-first {
    font-size: 20px;
    margin-top: 20px;
    color: #a7ce37;
}
.line-sec {
    font-size: 20px;
    margin-top: 20px;
    color: #a7ce37;
}
.line-third {
    font-size: 20px;
    margin-top: 20px;
    color: #a7ce37;
}
.line-four {
    font-size: 20px;
    margin-top: 20px;
    color: #a7ce37;
}

[dir="rtl"] .line-first {
    text-align: right;
    padding-right: 80px;
}
[dir="rtl"] .line-sec {
    text-align: right;
    padding-right: 80px;
}
[dir="rtl"] .line-third {
    text-align: right;
    padding-right: 80px;
}
[dir="rtl"] .line-four {
    text-align: right;
    padding-right: 80px;
}

/* hank you page********************** */
.wrapper-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper-2 {
    padding: 30px;
    text-align: center;
}
.wrapper-2 h1 {
    font-family: "Kaushan Script", cursive;
    font-size: 4em;
    letter-spacing: 3px;
    color: #a5cd39;
    margin: 0;
    margin-bottom: 20px;
}
.wrapper-2 p {
    margin: 0;
    font-size: 1.3em;
    color: #0b9d59;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
}
.go-home {
    color: #fff;
    background: #5892ff;
    border: none;
    padding: 10px 50px;
    margin: 30px 0;
    border-radius: 30px;
    text-transform: capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}
.footer-like {
    margin-top: auto;
    background: #d7e6fe;
    padding: 6px;
    text-align: center;
}
.footer-like p {
    margin: 0;
    padding: 4px;
    color: #5892ff;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
}
.footer-like p a {
    text-decoration: none;
    color: #5892ff;
    font-weight: 600;
}

@media (min-width: 360px) {
    .wrapper-2 h1 {
        font-size: 4.5em;
    }
    .go-home {
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .content {
        max-width: 1000px;
        margin: 0 auto;
    }
    .wrapper-1 {
        height: initial;
        max-width: 620px;
        margin: 0 auto;
        margin-top: 50px;
        /* box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2); */
    }
}
[dir="rtl"] .no-rtl {
    direction: ltr;
}
[dir="rtl"] .rtl-dis-none {
    display: none;
}
.nor-d-none {
    display: none;
}
[dir="rtl"] .nor-d-none {
    display: block;
}
.agenda-sliders .slick-list {
    overflow: unset;
}
.vn-new-1 {
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-bottom: 40px;
}
.vn-new-1 img {
    width: 18px;
    margin-right: 10px;
}

.vn-new-2 {
    font-size: 16px;
    color: white;
    font-weight: 700;
}

.vn-new-2 img {
    width: 18px;
    margin-right: 10px;
}
[dir="rtl"] .vn-new-1 {
    text-align: right;
}
[dir="rtl"] .vn-new-2 {
    text-align: right;
}
.agenda-new {
    background: white;
    padding-top: 90px;
}

/* agendaa tabbing */
.schedule-tab {
    width: 80%;
    margin: auto;
}
.nav-tabs {
    justify-content: space-between;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #006b55;
    border-color: #dee2e6 #dee2e6 #fff;
    text-align: center;
    border-radius: 50px;
    padding: 9px 23px;
}
.nav-tabs .nav-link {
    border: 1px solid #006b55;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-radius: 50px;
    text-align: center;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-link p {
    margin: 0;
    font-size: 13px;
}
.nav-link h5 {
    font-size: 13px;
    font-weight: 800;
}
.nav-tabs .nav-link {
    text-decoration: none;
}

.new-agent-header-row {
    border-bottom: 1px solid #006b55;
    margin-top: 30px;
}
[dir="rtl"] .new-agent-header-row {
    text-align: right;
}

[dir="rtl"] .new-agent-child-row {
    text-align: right;
}
[dir="rtl"] .new-agent-child-row img {
    position: absolute;
    left: unset;
    width: 38px;
    height: 38px;
    right: -60px;
    border-radius: 50%;
    top: -20px;
}
.new-agent-header-row p {
    margin: 0;
    color: #006b55;
    margin-bottom: 11px;
}
.new-agent-child-row {
    border-bottom: 1px solid #e9e9e9;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.new-agent-child-row .time-pra {
    margin: 0;
}
.new-agent-child-row h6 {
    margin: 0;
    font-weight: 800;
}
.new-agent-child-row ul {
    margin: 20px 0;
}
.breaking-heading {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: #006b55;
    font-weight: 800;
}
.sb-title {
    font-size: 11px;
    line-height: 1.7;
}
.new-agent-child-row img {
    position: absolute;
    left: -60px;
    width: 38px;
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
@media only screen and (max-width: 991px) {
    [dir="rtl"] .new-agent-child-row {
        text-align: right;
        text-align: right;
        padding-right: 50px;
    }

    [dir="rtl"] .new-agent-child-row img {
        position: absolute;
        left: unset;
        width: 38px;
        height: 38px;
        right: 0;
        border-radius: 50%;
        top: 30px;
    }

    .new-agent-child-row img {
        position: absolute;
        left: 0;
        width: 38px;
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .new-agent-child-row {
        border-bottom: 1px solid #e9e9e9;
        margin-top: 10px;
        padding-bottom: 10px;
        position: relative;
        padding-left: 50px;
    }
    .speakers-section .head-2 {
        font-size: 50px;
        font-weight: bold;
        color: #006b55;
        margin-bottom: 50px;
        text-align: left;
        font-size: 15px;
        margin-top: 10px;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        color: #006b55;
        border-color: #dee2e6 #dee2e6 #fff;
        text-align: center;
        border-radius: 10px;
        padding: 13px 2px;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #ffffff;
        background-color: #006b55;
        border-color: #dee2e6 #dee2e6 #fff;
        text-align: center;
        border-radius: 10px;
        padding: 13px 2px;
    }
    .schedule-tab {
        width: 98%;
        margin: auto;
    }
    .nav-link p {
        margin: 0;
        font-size: 7px;
    }
    .new-agent-header-row {
        display: none;
    }
    .seesion {
        padding: 10px 5px !important;
    }
}
.bt-aar {
    display: none;
}
[dir="rtl"] .bt-aar {
    display: inline-block;
}

.bt-en {
    display: inline-block;
}
[dir="rtl"] .bt-en {
    display: none;
}
.w-15 {
    width: 20%;
}
[dir="rtl"] .rt-right {
    text-align: right;
}
.right-cr {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 10px;
    right: 20px;
}
[dir="rtl"] .right-cr {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 10px;
    right: unset;
    left: 20px;
}
[dir="rtl"] .li-head {
    text-align: right;
}
.banner-btn:hover {
    color: white !important;
}

.btn-download {
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    box-shadow: 0 0 20px 2px white, -7px -7px 10px -4px white, inset 1px 1px 2px white, inset 0 0 10px 2px white;
    animation: bounce 1s infinite;
}
.btn-download:before,
.btn-download:after {
    content: "";
    position: absolute;
}
.btn-download:before {
    top: 6px;
    left: 7px;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5), -1px -1px 4px rgba(255, 255, 255, 0.8),
        -2px -2px 4px rgba(255, 255, 255, 0.7), -3px -3px 5px rgba(255, 255, 255, 0.5),
        -4px -4px 6px rgba(255, 255, 255, 0.3), 1px 1px 4px rgba(255, 255, 255, 0.8),
        2px 2px 4px rgba(255, 255, 255, 0.7), 3px 3px 5px rgba(255, 255, 255, 0.5), 4px 4px 6px rgba(255, 255, 255, 0.3);
}
.btn-download:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: glow 1s infinite;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(-7%);
        background-position: 50% 48%;
    }
    50% {
        transform: translateY(7%);
        background-position: 50% 52%;
    }
}
@keyframes glow {
    20% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.678), inset 0 0 0 0 rgba(255, 255, 255, 0.678);
    }
    100% {
        box-shadow: 0 0 0 50px rgba(0, 128, 0, 0), inset 0 0 0 12px rgba(0, 128, 0, 0);
    }
}
.join-btn {
    text-align: left;
}
[dir="rtl"] .join-btn {
    text-align: right;
}
.w-28 {
    width: 28%;
}
.bt-rtl {
    float: right;
}
[dir="rtl"] .bt-rtl {
    float: left;
}

.mainServiceSec {
    padding: 44px 0;
    background-color: #006b52;
    margin-bottom: 50px;
}
.mainServiceSec .serviceBox .serviceImg {
    width: 100%;
    max-width: 100%;
}
.mainServiceSec .serviceBox {
    border: 1px solid white;
    overflow: hidden;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height: 500px;
}
.serviceBox .serviceBox-img{
    height: 52%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainServiceSec .serviceBox .serviceInnerBox {
    color: white;
    padding: 30px;
    text-align: right;
    height: 45%;
}

.mainServiceSec .serviceBox .serviceInnerBox span {
    margin-bottom: 15px;
    display: block;
}
.mainServiceSec .serviceBox .serviceInnerBox p {
    margin-bottom: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.mainServiceSec .serviceBox .serviceInnerBox a {
    color: inherit;
    display: block;
    text-align: center;
}
.mainServiceSec .serviceBox .serviceInnerBox a img {
    width: 17px;
    margin-right: 5px;
}
.aboutImg {
    width: 100%;
    max-width: 100%;
}
.about-it{
    /* background-image: url(/images/ab-01.png); */
    /* padding: 70px 61px; */
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    /* padding-top: 77px; */
    transition: 0.5s;
    display: flex;
    flex-flow: column;
    align-items: end;
    justify-content: center;
    padding-left: 70px;
    background: #1C3D6B;
}
.about-it:hover{
    /* width: 70%; */
    padding: 94px;
}
.about-it a{
    background: #006b52;
    border: 0;
    position: relative;
    padding: 20px 30px;
    color: white;
    font-family: SecFont !important;
    line-height: inherit;

}
.about-it::before{
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
.about-it h6{
    font-size: 40px;
    position: relative;
    font-weight: bold;
    font-family: SecFont !important;

}
.about-it p{
    position: relative;
    font-family: SecFont !important;

}
.about-it-2{
    background: #006b52;
    height: 100%;
    padding: 120px 130px 70px 130px;
    color: white;
    text-align: right;
    transition: 0.5s;
}
.about-it-2:hover{
    /* width: 70%; */
    padding: 94px;
}
.about-it-2 h6{
    font-size: 40px;
    position: relative;
    font-weight: bold;
    text-align: right;
    font-family: SecFont !important;

}
.about-it-2 p{
    font-family: SecFont !important;

}
.about-it-2 a{
    position: relative;
    border: 0;
    position: relative;
    padding: 10px;
    padding: 20px 34px;
    background: #00000057;
    color: white;
    font-family: SecFont !important;
    list-style: inherit;
}
.majli-main{
    background-image: url("/images/banner.png");
    color: white;
    position: relative;
    text-align: right;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
}
.majlis-it{
    position: relative;
    z-index: 1;
    padding: 5px 0;
}
.majlis-it::before{
    /* content: ''; */
    position: absolute;
    height: 100%;
    width: 170px;
    background: #006b52;
    top: 0;
    right: -30px;
    z-index: -1;
}
.majlis-content{
    position: relative;
}
.majlis-content::after{
    content: '';
    position: absolute;
    height: 85%;
    width: 2px;
    background: white;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}
.majli-main h6{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: SecFont !important;

}
.majli-main h5{
    font-size: 23px;
    margin-bottom: 20px;
    font-family: SecFont !important;

}
.majli-btn-box button{
    background: #006b52;
    border: 0;
    padding: 8px 15px;
    font-family: SecFont !important;

}
.majli-main p{
    font-family: SecFont !important;
    font-size: 17px;
}
.ser-head{
    text-align: right;
    font-size: 23px;
    margin-bottom: 30px;
    color: white;
    font-weight: 800;
    font-family: SecFont !important;

}
.ser-button{
    background: transparent;
    border: 1px solid;
    padding: 5px 14px;
    font-family: SecFont !important;
    color: white;
}
.footer{
    text-align: right;
    background:#141E1E;
    padding: 55px 40px 40px;
    color: white;
    padding-bottom: 0;
}
.footer ul li{
    padding: 5px 0;
}
.footer ul li a{
    line-height: 0;
    cursor: pointer;
    font-family: SecFont !important;
    font-weight: bold;
    color: white;
}
.footer ul li a:hover{
    color: #006b52;
}
.footer h6{
    font-weight: bold;
    margin-bottom: 25px;
    font-family: SecFont !important;

}
.footer h4{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 25px;

    font-family: SecFont !important;
        font-weight: bold;

}
.footer img{
    width: 230px;
    margin-bottom: 10px;
}
.right p{
    border-top: 1px solid #ffffff40;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-family: SecFont !important;
    font-weight: bold;

}
.lang-left{
    border-left: 1px solid #ffffff69;
    border-right: 1px solid #ffffff69;
    padding: 0px 10px;
    margin: 0px 10px;
}
.footer p{
    font-weight: bold;
    font-family: SecFont !important;

}

.meni-inner{
    width: 300px;
    padding: 10px 0;
    /* border: 1px solid #a29415; */
    position: fixed;
    left: 0;
    height: 100vh;
    background: #141e1ef5;
    z-index: 9999;
    overflow: overlay;
}
.single-main{
    padding: 80px 0;
    position: relative;
}
.new-top-image{
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-top: -70px;
}
.demo{
    width: 100%;
    height: 100%;
}
.single-content{
    position: relative;
    margin-top: 20px;
}
.news-title-s{
    background: #009e88;
    color: white;
    text-align: right;
    padding: 7px 28px;
    width: 100%;
    z-index: 1;
    position: relative;
}
.single-content h6{
    width: max-content;
    background: #009e88;
    color: white;
    padding: 6px 23px;
    margin-bottom: 27px;
}
.single-content p{
    text-align: right;
}
.single-main-p{
    text-align: right;

}