@font-face {
    font-family: SecFont;
    src: url(/fonts/new/IBMPlexSansArabic-Regular.ttf)
}

.inside-banner {
    display: flex;
    align-items: center;
    background-image: url("/images/banner.png");
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inside-banner-title {
    position: relative;
    padding-right: 60px;
    color: #fff;
    font-size: 40px;
    font-family: SecFont;
    font-weight: bold;
    text-align: right;
}

.inside-banner-title::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: #009e88;
    top: 50%;
    transform: translateY(-50%);

}

/*inside services section*/
.inside-services {
    background-color: #f9f9f9;
    padding-bottom: 200px;
}

.inside-services .serviceBox {
    border: transparent;
    transition: .3s all;
    margin-bottom: 30px;
}

.inside-services .serviceBox .serviceInnerBox {
    border-left: 1px solid #009e88;
    border-right: 1px solid #009e88;
    border-bottom: 1px solid #009e88;
    padding: 100px 30px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.inside-services .serviceBox p {
    font-family: SecFont;
    color: #000;
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 100;
}

.inside-services .serviceBox:hover {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.inside-services .serviceBox figure {
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.inside-services .serviceInnerBox {
    height: 50% !important;
}

/* publication center section*/
.public-center {
    padding: 50px 0 150px;
}

.public-center h2.pc-title {
    position: relative;
    text-align: start;
    color: #3D3D3D;
    font-family: SecFont;
    margin-bottom: 30px;
    padding: 5px 20px 5px 0;
}

.public-center h2.pc-title span {
    font-family: SecFont;
}

.public-center h2.pc-title::before {
    content: "";
    position: absolute;
    right: 0;
    width: 8px;
    height: 100%;
    background-color: #009e88;
    top: 0;
}

.pdf-download {
    background-color: #009E88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
    margin-bottom: 35px;
}

.pdf-download .pdf-btn {
    background-color: transparent;
    border: 1px solid #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdf-download .pdf-btn img {
    width: 50px;
}

.pdf-btn span {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center;
    font-family: SecFont;
    margin-top: 10px;
}

.pdf-download p {
    color: #fff;
    font-family: SecFont;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.pc-main {
    width: 100%;
    border: 1px solid #009e88;
    height: 340px;
    margin-bottom: 35px;
}

.pc-image {
    height: calc(100% - 36px);
}

.pc-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pdf-title {
    background: #009e88;
    text-align: center;
    padding: 3px 0;
}

.pdf-title p {
    color: #fff;
    margin-bottom: 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.dummy {
    width: 100%;
}

/*initiative*/
.inside-banner-content {
    color: #fff;
    font-size: 20px;
    text-align: start;
    font-family: SecFont;
    position: relative;
    margin: 15px 60px 0 0;
    padding-right: 20px;
}

.inside-banner-content::before {
    content: "";
    position: absolute;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #fff;
}

.initiat-btn {
    padding: 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.initiat-btn a {
    background-color: #009E88;
    color: #fff;
    font-size: 18px;
    padding: 4px 50px;
}

.initiat-btn a img {
    width: 20px;
    margin-right: 10px;
}

.meni-inner .meni-inner-head .logo {
    display: none;
}

.meni-inner ul li {
    display: none;
}

.meni-inner ul li:last-child {
    display: block;
}

.meni-inner-head .slide-toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: white;
}

.meni .meni-inner ul {
    height: calc(100% - 27px);
    text-align: start;
}

.meni .meni-inner ul li a {
    color: white;
    font-size: 18px;
    line-height: inherit;
    padding: 20px 15px;
    font-family: SecFont;
}

.majli-btn-sbox {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    width: 100%;
}

.majli-btn-sbox a {
    padding: 0px 11px;
    background: #006b52;
    color: white;
}

.banner-title {
    text-align: start;
}

.majli-btn-b-box {
    display: flex;
    align-items: end;
    justify-content: start;
    height: 100%;
    width: 100%;
}

.majli-btn-b-box a {
    color: white;
    margin-top: 0;
    padding: 15px 25px;
}

/*bulletin page*/
.bulletin-sec {
    background-color: #f9f9f9;
    padding: 80px 0 150px;
}

.bulletin-btn {
    background-color: #019d88;
    color: #fff;
    text-align: center;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bulletin-btn p {
    font-size: 30px;
    margin-bottom: 0;
    font-family: SecFont;
}

/*periodical page*/
.periodical-sec {
    background-color: #f9f9f9;
    padding: 80px 0 150px;
}

.periodical-btn {
    background-color: #019d88;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px;
}

.periodical-btn p {
    font-size: 25px;
    margin-bottom: 0;
    font-family: SecFont;
}

.periodical-btn h1 {
    font-weight: bold;
    font-size: 45px;
    margin-top: 5px;
}

/*majlis page*/
.majlis-sec {
    background-color: #f9f9f9;
    height: auto;
    padding: 60px 0px;
    counter-reset: shape;
}

.majlis-title h2 {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 40px;
}

.majlis-title h2 span {
    background: #f9f9f9;
    padding: 5px 15px;
    border: 1px solid #009e88;
    color: #009e88;
    font-weight: bold;
}

.majlis-title h2::before {
    border-top: 2px solid #e6e6e6;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.majlis-title h2::after {
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 380px;
    z-index: -1;
    height: 100%;
    transform: translateX(-50%);
    background: #f9f9f9;
}

.majlis-title-2 h2::after {
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 340px;
    z-index: -1;
    height: 100%;
    transform: translateX(-50%);
    background: #f9f9f9;
}

.majlis-box::before {
    position: absolute;
    counter-increment: shape;
    content: "" counter(shape);
    font-size: 50px;
    z-index: 2;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    font-weight: bold;
    font-family: SecFont;
    color: #3d3d3d;
}

.majlis-box {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.majlis-box-inner {
    text-align: right;
    margin-right: 50px;
}

.majlis-box-inner p {
    color: #656565;
    font-weight: 600;
    font-family: SecFont;
    margin-bottom: 0;
}

.majlis-box::after {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #7ccbc0;
    position: absolute;
    content: '';
    right: 7px;
    top: 43%;
    transform: translateY(-50%);
}

.masjlis-logo-sec {
    background-color: #f9f9f9;
    padding: 30px 0 150px;
}

.masjlis-logo-img {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.masjlis-logo-img img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin-bottom: 15px;
}

/*priorities page*/
.priorities-sec {
    padding: 80px 0 150px;
    background: #f9f9f9;
}

.priorities-box {
    border: 2px solid #e3e3e3;
    position: relative;
    margin: 0 0 25px 0px;
    min-height: 75px;
    max-height: max-content;
    display: flex;
    align-items: center;
}

.priorities-image {
    position: absolute;
    bottom: -8px;
    right: -30px;
    background: #f9f9f9;
    padding: 10px 0;
    z-index: 1;
}

.priorities-image::before {
    content: "";
    position: absolute;
    background-color: #f1f1f1;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: -1;
    right: 13px;
    bottom: -1px;
}

.priorities-image img {
    width: 55px;
    height: 55%;
    object-fit: contain;
}

.priorities-content {
    width: 100%;
    margin: 0 41px 0 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.priorities-content h1 {
    font-family: SecFont;
    font-size: 23px;
    margin-bottom: 0px;
    text-align: center;
    color: #3d3d3d;
    flex: 1;
}

.foot-logo-list {
    display: flex;
    flex-flow: wrap;
}

.foot-logo-list li {
    flex: 0 0 30%;
}

.foot-logo-list li a img {
    width: 140px;
    margin-bottom: 10px;
    height: 60px;
    object-fit: contain;
}

@media (max-width:1920px) {
    .home-banner {
        height: 80vh;
        display: flex;
        align-items: center;
    }

    .home-banner .en-tit {
        font-size: 40px;
    }

    .inside-banner {
        height: 55vh;
    }
}

@media (max-width: 1366px) {
    .home-banner {
        height: 100vh;
    }

    .home-banner .en-tit {
        font-size: 30px;
    }

    .inside-banner {
        height: 70vh;
    }
}

@media (max-width:1280px) {
    .majli-main {
        padding: 70px 70px;
    }
}

@media (max-width:1024px) {
    .logo img {
        width: 200px;
    }

    .header-area .main-header .main-menu ul li {
        padding: 5px 5px;
    }

    .header-area .main-header .main-menu ul li a {
        padding: 10px 5px;
    }

    #navigation {
        padding-right: 15px;
    }

    .footer img {
        width: 180px;
    }

    .abt-top {
        font-size: 35px;
    }

    .about-it-2 h6 {
        font-size: 35px;
    }

    .about-it h6 {
        font-size: 35px;
    }

    .majli-main h6 {
        font-size: 35px;
    }

    .majli-main p {
        font-size: 16px;
    }

    .about-it-2 a {
        padding: 12px 34px;
    }

    .about-it a {
        padding: 12px 30px;
    }

    .about-it-2 {
        padding: 50px 80px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width:991px) {
    #navigation li {
        display: none;
    }

    #navigation li:last-child {
        display: block;
    }

    .meni-inner .meni-inner-head .logo {
        display: block;
    }

    .meni-inner-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 10px 15px;
        border-bottom: 2px solid #fff;
    }

    .meni-inner-head .logo img {
        width: 160px;
    }

    .menu-main {
        justify-content: end;
    }

    .meni-inner ul li {
        display: block;
    }

    .meni .meni-inner ul li {
        padding: 12px 18px;
        border-bottom: 1px solid #707070;
    }

    .meni .meni-inner ul li a {
        padding: 0;
    }

    .mini-sub-menu-main {
        color: white;
        font-size: 18px;
    }

    .mini-sub-menu-inner li {
        padding-right: 15px !important;
        position: relative;
        border-bottom: none !important;
    }

    .mini-sub-menu-inner li::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        transform: translateY(-50%);
    }

    .mini-sub-menu-inner li a {
        font-size: 16px !important;
    }

    .mini-sub-menu-main::marker {
        font-size: 15px
    }

    .majli-btn-sbox {
        justify-content: center;
    }

    .footer img {
        width: 150px;
    }

    .inside-banner-title {
        font-size: 30px;
    }

    .meni .meni-inner ul {
        height: calc(100% - 70px);
    }
}

@media (max-width:768px) {
    .logo img {
        width: 160px;
    }
}

@media (max-width: 767px) {
    .logo-bot-p {
        text-align: end;
    }

    .banner-title {
        text-align: center;
    }

    .majli-btn-b-box {
        justify-content: center;
    }

    .home-banner {
        height: 80vh;
        padding: 100px 0px;
    }

    .abt-top {
        top: -90px;
        font-size: 30px;
    }

    .about-it-2 h6 {
        font-size: 30px;
    }

    .about-it {
        padding: 60px 0 60px 70px
    }

    .ser-head {
        margin-bottom: 0;
    }

    .majli-main {
        padding: 70px 0;
    }

    .bullet-nav {
        display: none;
    }

    .single-content h5 {
        left: 0;
    }

    .new-top-image {
        margin-top: 0;
    }

    .news-title-s {
        width: 100%;
    }

    .single-content {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .priorities-sec {
        padding: 80px 40px 150px;
    }
}

@media (max-width: 475px) {
    .abt-top {
        font-size: 20px;
        width: 300px;
        top: -70px;
    }

    .home-banner .en-tit {
        font-size: 27px;
    }

    .majli-btn-b-box a {
        padding: 10px 30px;
    }

    .home-banner {
        height: 70vh;
    }

    .about-it-2 h6 {
        font-size: 27px;
    }

    .about-it h6 {
        font-size: 30px;
    }

    .about-it {
        padding: 60px 50px 60px 0px;
        align-items: start;
    }

    .majlis-it::before {
        content: none;
    }

    .majlis-content::after {
        content: none;
    }

    .majli-main h6 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .majli-main p {
        font-size: 14px;
    }

    .majli-main {
        padding: 50px 0;
    }

    .about-it-2 {
        padding: 50px 50px;
    }

    .footer h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer p {
        margin-bottom: 0px;
    }

    .footer h6 {
        margin-bottom: 12px;
        font-size: 20px;
    }

    .inside-banner-title {
        font-size: 25px;
        margin-top: 70px;
    }

    .inside-banner {
        height: 50vh;
    }

    .inside-services {
        padding-bottom: 100px;
    }

    .public-center {
        padding: 50px 0 100px;
    }

    .priorities-image {
        bottom: -4px;
    }

    .priorities-content h1 {
        font-size: 20px;
    }

    .priorities-image::before {
        right: 15px;
        bottom: 9px;
        width: 40px;
        height: 40px;
    }

    .priorities-image img {
        width: 45px;
        height: 45px;
    }

    .majlis-title h2 span {
        font-size: 25px;
    }

    .majlis-title h2::after {
        width: 330px;
    }

    .majlis-title-2 h2::after {
        width: 295px;
    }

    .inside-banner-content {
        font-size: 15px;
        margin: 15px 60px 0 10px;
    }
}

@media (max-width: 414px) {
    .inside-banner-content {
        margin: 15px 0px 0 0px;
        font-size: 14px;
        padding-right: 35px;
    }

    .inside-banner-content::before {
        /* content: none; */
        right: 20px;
    }
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon li a {
    width: 35px;
    height: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin-left: 15px;
}

.social-icon li a img {
    width: auto;
    margin-bottom: 0;
}

@media (max-width:1920px) {
    .home-banner {
        height: 80vh;
        display: flex;
        align-items: center;
    }

    .home-banner .en-tit {
        font-size: 40px;
    }

    .inside-banner {
        height: 55vh;
    }
}

@media (max-width: 1366px) {
    .home-banner {
        height: 100vh;
    }

    .home-banner .en-tit {
        font-size: 30px;
    }

    .inside-banner {
        height: 70vh;
    }
}

@media (max-width:1280px) {
    .majli-main {
        padding: 70px 70px;
    }
}

@media (max-width:1024px) {
    .logo img {
        width: 200px;
    }

    .header-area .main-header .main-menu ul li {
        padding: 5px 5px;
    }

    .header-area .main-header .main-menu ul li a {
        padding: 10px 5px;
    }

    #navigation {
        padding-right: 15px;
    }

    .footer img {
        width: 180px;
    }

    .abt-top {
        font-size: 35px;
    }

    .about-it-2 h6 {
        font-size: 35px;
    }

    .about-it h6 {
        font-size: 35px;
    }

    .majli-main h6 {
        font-size: 35px;
    }

    .majli-main p {
        font-size: 16px;
    }

    .about-it-2 a {
        padding: 12px 34px;
    }

    .about-it a {
        padding: 12px 30px;
    }

    .about-it-2 {
        padding: 50px 80px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width:991px) {
    #navigation li {
        display: none;
    }

    #navigation li:last-child {
        display: block;
    }

    .meni-inner .meni-inner-head .logo {
        display: block;
    }

    .meni-inner-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 10px 15px;
        border-bottom: 2px solid #fff;
    }

    .meni-inner-head .logo img {
        width: 160px;
    }

    .menu-main {
        justify-content: end;
    }

    .meni-inner ul li {
        display: block;
    }

    .meni .meni-inner ul li {
        padding: 12px 18px;
        border-bottom: 1px solid #707070;
    }

    .meni .meni-inner ul li a {
        padding: 0;
    }

    .mini-sub-menu-main {
        color: white;
        font-size: 18px;
        transition: .3s all;
        font-family: SecFont;
    }

    /* .mini-sub-menu-main:hover{
        color: #009e88;
    } */
    .mini-sub-menu-inner li {
        padding-right: 15px !important;
        position: relative;
        border-bottom: none !important;
    }

    .mini-sub-menu-inner li::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        transform: translateY(-50%);
    }

    .mini-sub-menu-inner li a {
        font-size: 16px !important;
    }

    .mini-sub-menu-main::marker {
        font-size: 15px
    }

    .majli-btn-sbox {
        justify-content: center;
    }

    .footer img {
        width: 150px;
    }

    .inside-banner-title {
        font-size: 30px;
    }

    .meni .meni-inner ul {
        height: calc(100% - 70px);
    }
}

@media (max-width:768px) {
    .logo img {
        width: 160px;
    }
}

@media (max-width: 767px) {
    .logo-bot-p {
        text-align: end;
    }

    .banner-title {
        text-align: center;
    }

    .majli-btn-b-box {
        justify-content: center;
    }

    .home-banner {
        height: 80vh;
        padding: 100px 0px;
    }

    .abt-top {
        top: -90px;
        font-size: 30px;
    }

    .about-it-2 h6 {
        font-size: 30px;
    }

    .about-it {
        padding: 60px 0 60px 70px
    }

    .ser-head {
        margin-bottom: 0;
    }

    .majli-main {
        padding: 70px 0;
    }

    .bullet-nav {
        display: none;
    }

    .single-content h5 {
        left: 0;
    }

    .new-top-image {
        margin-top: 0;
    }

    .news-title-s {
        width: 100%;
    }

    .single-content {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .priorities-sec {
        padding: 80px 40px 150px;
    }
}

@media (max-width: 475px) {
    .abt-top {
        font-size: 20px;
        width: 300px;
        top: -70px;
    }

    .home-banner .en-tit {
        font-size: 27px;
    }

    .majli-btn-b-box a {
        padding: 10px 30px;
    }

    .home-banner {
        height: 70vh;
    }

    .about-it-2 h6 {
        font-size: 27px;
    }

    .about-it h6 {
        font-size: 30px;
    }

    .about-it {
        padding: 60px 50px 60px 0px;
        align-items: start;
    }

    .majlis-it::before {
        content: none;
    }

    .majlis-content::after {
        content: none;
    }

    .majli-main h6 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .majli-main p {
        font-size: 14px;
    }

    .majli-main {
        padding: 50px 0;
    }

    .about-it-2 {
        padding: 50px 50px;
    }

    .footer h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer p {
        margin-bottom: 0px;
    }

    .footer h6 {
        margin-bottom: 12px;
        font-size: 20px;
    }

    .inside-banner-title {
        font-size: 25px;
        margin-top: 70px;
    }

    .inside-banner {
        height: 50vh;
    }

    .inside-services {
        padding-bottom: 100px;
    }

    .public-center {
        padding: 50px 0 100px;
    }

    .priorities-image {
        bottom: -4px;
    }

    .priorities-content h1 {
        font-size: 20px;
    }

    .priorities-image::before {
        right: 15px;
        bottom: 9px;
        width: 40px;
        height: 40px;
    }

    .priorities-image img {
        width: 45px;
        height: 45px;
    }

    .majlis-title h2 span {
        font-size: 25px;
    }

    .majlis-title h2::after {
        width: 330px;
    }

    .majlis-title-2 h2::after {
        width: 295px;
    }

    .inside-banner-content {
        font-size: 15px;
        margin: 15px 60px 0 10px;
    }
}

@media (max-width: 414px) {
    .inside-banner-content {
        margin: 15px 0px 0 0px;
        font-size: 14px;
        padding-right: 35px;
    }

    .inside-banner-content::before {
        /* content: none; */
        right: 20px;

    }
}

@media (max-width: 360px) {
    .foot-logo-list li a img {
        width: 120px;
        height: 50px;
    }
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.home-banner1 {
    position: absolute;
    top: 220px;
    width: 100%;
}

.home-banner1 .en-tit {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 13px;
    font-family: SecFont !important;
}

.en-tit22 {
    font-family: SecFont !important;

}

.home-banner1 a {
    background: #009e88;
    border: 0;
    padding: 10px 25px;
    /* padding-bottom: 19px; */
    margin-top: 54px;
    color: white;
    /* padding-top: 20px; */
    font-family: SecFont !important;
    line-height: inherit;
    margin-top: 0;
}