@media screen and (max-width:767px){
    .custom-container{
        width: 100%;
        padding: 10px 20px;
    }
    .agenda-reg-btn,
    .left-box-2 figure,
    .exhibition-sec-new .reg-btn {
        width: 100%;
    }
    .dot-content-box{
        padding: 0;
    }
    [dir=rtl] .dot-content-box{
        padding: 0;
    }
    .dot-item {
    width: 100%;
    }
    .time-para {
    padding: 2px 0px !important;
    text-align: left !important;
    margin-bottom: 0px !important;
    font-size: 12px;
}

[dir=rtl] .time-para {
    padding: 2px 0px !important;
    text-align: right !important;
    margin-bottom: 0px !important;
    font-size: 12px;
}
.agenda-inside-main .head,
.main-agenda-section .head {
    font-size: 30px;
    margin-bottom: 25px;
    }
    .main-agenda-section{
        padding: 0;
    }
    .second-left {
    text-align: center;
    margin-top: 15px;
    text-align: right;
    font-size: 13px;
}
.agenda-reg-btn{
    margin-top: 15px;
}
.ab-first {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}
.vision-section{
    padding: 0;
    font-size: 16px;
}
.vision-section ul li{
    padding: 0;
    font-size: 14px;
}
.left-box-2 figure{
    margin:0!important;
}
.exhib-main h1{
    font-size: 22px;
    margin-bottom: 15px;
}
.exhib-item {
    padding: 20px 10px;
}
.exhib-main{
    padding: 20px 0;
}
.axes-item{
    width: 48%;
    padding:20px 5px;
    height: 300px;
}
[dir=rtl] .axes-item{
    height: 193px;
}
.axes-row{
    margin-top: 15px;
}
.axes-sec {
    padding: 0px 0;
}
.gallery-heading,
.audien-p-head {
    font-size: 30px !important;
    margin-bottom: 10px;
}
footer,
.agenda-inside-main{
    padding-top: 0 !important;
}
.agenda-container {
    width: 100%;
    padding: 10px;
    }
    .speakers-page-main,
    .exhibition-sec-new,
    .contribute-sec,
    .ven-sec-new,
    .speakers-section,
    .client-section,
    .client-slider{
        padding: 0;
    }
    .speakers-page-main h1,
    .ven-sec-new h1{
        font-size: 30px;
            margin-bottom: 35px;
    }
    .exhibition-sec-new h1,
    .section-tittle h2{
        font-size: 30px;
    }
    .ven-sec-new p{
        margin-top: 0;
    }
    .venue-item {
    padding: 10px;
    margin-top: 0;
    }
    .speakers-section .head{
        font-size: 30px;
        margin-bottom: 0;
    }
    .center-logo-mob-2,
    .center-logo-mob-3,
    .center-logo-mob-1 {
    width: 110px !important;
    height: auto !important;
    }
}

.slightMove {
    animation: slightMove 5s ease-in-out infinite;
}

@keyframes slightMove {
    50% {
        transform: rotate(30deg);
    }
}
