<template>
    <main>
        <div class="inside-banner" id="banner">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="en-tit inside-banner-title">
                        نشرات المجلس
                    </h6>
                </div>
            </div>
        </div>
        <section class="bulletin-sec">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-5 col-sm-6 col-12 ml-lg-5 ml-md-5 ml-sm-0 ml-0 mb-4">
                        <router-link :to="{name:'highlights'}" class="bulletin-btn">
                            <p class="mb-3">أبرز مستجدات</p>
                            <p>التجارة الإلكترونية</p>
                        </router-link>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                        <router-link :to="{name:'periodical'}" class="bulletin-btn">
                            <p class="mb-3">نشرات المجلس</p>
                            <p>الدورية</p>
                        </router-link>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>