<script setup lang="ts">
// import usePromise from "@/hooks/usePromise";
import { pdfs } from "@/data";
import type { PdfDao, PdfDaoStatic } from "@/types/Dao/Pdf";
import { ref, watch } from "vue";
const pdfsData = ref<PdfDaoStatic[]>(pdfs);
// const { result, createPromise } = usePromise();
// const pdfs = ref<PdfDao[]>();
// createPromise("pdfs");
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.status && !!newVal.data?.pdfs) {
//     pdfs.value = newVal.data.pdfs;
//   }
// });
</script>
<template>
  <main>
    <div class="inside-banner" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h6 class="en-tit inside-banner-title">
            أبرز مستجدات <br />
            التجارة اإللكترونية
          </h6>
        </div>
      </div>
    </div>
    <div class="public-center">
      <div class="container">
        <h2 class="pc-title">نشرات المجلس لعام <span>2023</span></h2>
        <div class="row" v-if="!!pdfs">
          <!-- Pdfs Here -->
          <div v-for="pdf in pdfsData" class="col-lg-3 col-md-6 col-sm-6 co-12">
            <a :href="'/' + pdf.pdf" target="_blank">
              <div class="pc-main">
                <div class="pc-image">
                  <img :src="'/' + pdf.image" />
                </div>
                <div class="pdf-title">
                  <p>{{ pdf.title }}</p>
                </div>
              </div>
            </a>
          </div>
          <!-- Pdfs Here -->
        </div>
      </div>
    </div>
  </main>
</template>
