<script setup lang="ts">
// import usePromise from "@/hooks/usePromise";
import type { NewsDao, NewsDaoStatic } from "@/types/Dao/News";
import { convertDateStr } from "@/utils";
import { news } from "@/data";
import { ref, watch } from "vue";
const newsList = ref<NewsDaoStatic[]>(news.slice(0, 3));
// const { result, fetching, createPromise } = usePromise();
// const newsList = ref<NewsDao[]>();
// createPromise("news?take=3");
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.status && !!newVal.data?.news) {
//     newsList.value = newVal.data.news;
//   }
// });
</script>
<template>
  <main class="home-main">
    <video playsinline autoplay muted loop>
      <source src="/images/spiders.mp4" type="video/mp4" />
    </video>
    <div class="home-banner1 section" id="banner1">
      <div class="custom-container">
        <div class="row">
          <div class="col-md-7">
            <div class="banner-title">
              <h6 class="en-tit">تعرفوا على أهم 13 نقطة</h6>
              <p style="color: white" class="en-tit22">
                يجب أن تلتزم بها المتاجر الإلكترونية لضمان و حفظ حقوق المستهلك
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="majli-btn-b-box">
            <a href="/pdfs/01-06-22-01-01.pdf" target="_blank"> تعرف على النقاط </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0 section" style="position: relative" id="about">
      <h6 class="abt-top">ابدء رحلة التجارة الالكترونية</h6>
      <div class="row">
        <div class="col-md-6 col-12 p-0">
          <div class="about-it-2">
            <h6>لإصدار سجلك التجاري</h6>
            <p>اصدارك للسجل التجاري يتيح لك ممارسة نشاطك التجاري</p>
            <a
              target="_blank"
              href="https://business.sa/ServicesAndPrograms/ServicesDetails.html?ServiceID=1"
              >إصدار السجل التجاري
            </a>
          </div>
        </div>
        <div class="col-md-6 col-12 p-0">
          <div class="about-it">
            <h6>لممارسة التجارة الإلكترونية</h6>
            <p>إصدار وثيقة العمل الحر يعزز من موثوقية متجرك الإلكتروني</p>
            <a href="https://freelance.sa/home" target="_blank">إصدار الوثيقة</a>
          </div>
        </div>
      </div>
    </div>
    <div class="majli-main section" id="majlis">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="majlis-it">
              <h6>أولويات مجلس التجارة الإلكترونية</h6>
              <p>
                التي تواجه التجارة الإلكترونية، وضمان التنفيذ الفاعل لمشاريع برنامج "تحفيز
                التجارة الإلكترونية" وتوصياته
              </p>
              <div class="majlis-content">
                <h5>نظام التجارة الإلكترونية</h5>
                <p>
                  تأسس مجلس التجارة الإلكترونية في 5 ذو القعدة 1439 هـ ، ليكون منطلق
                  الجهود المتكاملة لجميع الجهات الوطنية ذات العلاقة ويتولى مجلس التجارة
                  الإلكترونية مهام اقتراح سياسات التجارة الإلكترونية وتشريعاتها والإشراف
                  على برنامج "تحفيز التجارة الإلكترونية"، والتنسيق مع الجهات ذات العلاقة
                  لمنع الازدواجية، والتخلص من العوائق
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="majli-btn-sbox">
              <router-link :to="{ name: 'priorities' }"> أولويات المجلس </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="mainServiceSec section" id="service">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6 col-sm-6 col-5">
            <h6 class="ser-head">آخر الأخبار</h6>
          </div>
          <div class="col-md-6 col-sm-6 col-7">
            <router-link :to="{ name: 'news.list' }" class="ser-button"
              >المزيد من الأخبار<img class="mr-3" src="/images/left-ar.png" alt="" />
            </router-link>
          </div>
        </div>
        <div class="row">
          <!-- News Here -->
          <!-- <template v-if="!fetching"> -->
          <div v-for="(item, i) in newsList" class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="serviceBox">
              <figure
                class="serviceBox-img"
                :style="`background-image: url('/${item.image}');`"
              ></figure>
              <div class="serviceInnerBox">
                <span>{{ convertDateStr(item.date) }}</span>
                <p>{{ item.title }}</p>
                <router-link :to="{ name: 'news.single', params: { news_id: i + 1 } }"
                  >المزيد <img src="/images/left-ar.png" alt=""
                /></router-link>
              </div>
            </div>
          </div>
          <!-- </template> -->
          <!-- News Here -->
        </div>
      </div>
    </section>
  </main>
</template>
