<script setup lang="ts">
// import usePromise from "@/hooks/usePromise";
import { partners, tasks } from "@/data";
import type { PartnerDao, PartnerDaoStatic } from "@/types/Dao/Partner";
import type { TaskAndPriorityDao, TaskDaoStatic } from "@/types/Dao/TaskAndPriority";
import { ref, watch } from "vue";
const majlis = ref<{ tasks: TaskDaoStatic[]; partners: PartnerDaoStatic[] }>({
  tasks,
  partners,
});
// const { result, fetching, createPromise } = usePromise();
// const majlis = ref<{ tasks: TaskAndPriorityDao[]; partners: PartnerDao[] }>();
// createPromise("majlis");
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.status && !!newVal.data?.tasks) {
//     majlis.value = newVal.data;
//   }
// });
</script>
<template>
  <main>
    <div class="inside-banner" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h6 class="en-tit inside-banner-title">عن المجلس</h6>
          <p class="inside-banner-content">
            تأسس مجلس التجارة الإلكترونية في 5 ذو القعدة 1439 هـ،<br />
            والذي يهدف لتنظيم وتحفيز قطاع التجارة الإلكترونية، <br />
            ضمن رؤية المملكة 2030، و يتولى المهام التالية :
          </p>
        </div>
      </div>
    </div>
    <section class="majlis-sec">
      <div class="container">
        <div class="majlis-title">
          <h2><span>مهام مجلس التجارة الإلكترونية</span></h2>
        </div>
        <div class="row" v-if="!!majlis?.tasks">
          <!-- Tasks Here -->
          <div v-for="task in majlis.tasks" class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="majlis-box">
              <div class="majlis-box-inner">
                <p>{{ task.content }}</p>
              </div>
            </div>
          </div>
          <!-- Tasks Here -->
        </div>
      </div>
    </section>
    <section class="masjlis-logo-sec">
      <div class="container">
        <div class="majlis-title majlis-title-2">
          <h2><span>الجهات الممثلة في المجلس</span></h2>
        </div>
        <div class="row" v-if="!!majlis?.partners">
          <!-- Partners Here -->
          <div
            v-for="partner in majlis.partners"
            class="col-lg-2 col-md-4 col-sm-6 col-12"
          >
            <a :href="partner.url" target="_blank">
              <div class="masjlis-logo-img">
                <img :src="partner.image" alt="" />
              </div>
            </a>
          </div>
          <!-- Partners Here -->
        </div>
      </div>
    </section>
  </main>
</template>
<style>
.home-banner::before {
  content: none;
}

.home-banner {
  height: 60vh;
  background-position: center;
  padding: 0;
}
</style>
