<script setup lang="ts">
import { useRoute, useRouter } from "vue-router";
// import usePromise from "@/hooks/usePromise";
import { watch, ref } from "vue";
// import type { SimpleYearDao } from "@/types/Dao/Year";
import { newsletters } from "@/data";
import type { NewsLetterDaoStatic } from "@/types/Dao/NewsLetter";
const year = useRoute().params.year.toString();
if (!newsletters[year]) {
  useRouter().replace({ path: "/home" });
}
const newslettersData = ref<NewsLetterDaoStatic[]>(newsletters[year]);
// const { result, fetching, createPromise } = usePromise();
// const yearData = ref<SimpleYearDao>();
// createPromise(`years/${year}/newsletters`);
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.data?.year) {
//     yearData.value = newVal.data.year;
//   }
// });
</script>
<template>
  <main>
    <div class="inside-banner" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h6 class="en-tit inside-banner-title">نشرات المجلس</h6>
        </div>
      </div>
    </div>
    <div class="public-center">
      <div class="container">
        <h2 class="pc-title">
          نشرات المجلس لعام <span>{{ year }}</span>
        </h2>
        <div class="row" v-if="!!newslettersData">
          <!-- Newsletter Here -->
          <div
            v-for="newsletter in newslettersData"
            class="col-lg-3 col-md-6 col-sm-6 co-12"
          >
            <a :href="'/' + newsletter.pdf" target="_blank">
              <div class="pc-main">
                <div class="pc-image">
                  <img :src="'/' + newsletter.image" />
                </div>
                <div class="pdf-title">
                  <p>{{ newsletter.title }}</p>
                </div>
              </div>
            </a>
          </div>
          <!-- Newsletter Here -->
        </div>
        <!-- <div class="row" v-if="!!yearData"> -->
        <!-- Newsletter Here -->
        <!-- <div
            v-for="newsletter in yearData.newsletters"
            class="col-lg-3 col-md-6 col-sm-6 co-12"
          >
            <a :href="'/' + newsletter.pdf" target="_blank">
              <div class="pc-main">
                <div class="pc-image">
                  <img :src="'/' + newsletter.image" />
                </div>
                <div class="pdf-title">
                  <p>{{ newsletter.title }}</p>
                </div>
              </div>
            </a>
          </div> -->
        <!-- Newsletter Here -->
        <!-- </div> -->
      </div>
    </div>
  </main>
</template>
