<script setup lang="ts">
// import usePromise from "@/hooks/usePromise";
import { years } from "@/data";
import type { YearDao, YearDaostatic } from "@/types/Dao/Year";
import { ref, watch } from "vue";

const yearsData = ref<YearDaostatic[]>(years);
// const { result, fetching, createPromise } = usePromise();
// const years = ref<YearDao[]>();
// createPromise("years");
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.status || !!newVal.data?.years) {
//     years.value = newVal.data.years;
//   }
// });
</script>
<template>
  <main>
    <div class="inside-banner" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h6 class="en-tit inside-banner-title">نشرات المجلس الدورية</h6>
        </div>
      </div>
    </div>
    <section class="periodical-sec">
      <div class="container">
        <div class="row justify-content-center" v-if="!!years">
          <!-- Years Here -->
          <div v-for="year in yearsData" class="col-lg-3 col-md-5 col-sm-6 col-12">
            <router-link
              :to="{ name: 'newsletters', params: { year: year.year } }"
              class="periodical-btn"
            >
              <p>{{ year.title }}</p>
              <h1>{{ year.year }}</h1>
            </router-link>
          </div>
          <!-- Years Here -->
        </div>
      </div>
    </section>
  </main>
</template>
