<script setup lang="ts">
// import usePromise from "@/hooks/usePromise";
import { priorities } from "@/data";
import type { PriorityDaoStatic, TaskAndPriorityDao } from "@/types/Dao/TaskAndPriority";
import { ref, watch } from "vue";
const prioritiesData = ref<PriorityDaoStatic[]>(priorities);
// const { result, createPromise } = usePromise();
// const priorities = ref<TaskAndPriorityDao[]>();
// createPromise("priorities");
// watch(result, (newVal: { [key: string]: any }) => {
//   if (!!newVal.status && !!newVal.data?.priorities) {
//     priorities.value = newVal.data.priorities;
//   }
// });
</script>
<template>
  <main>
    <div class="inside-banner" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h6 class="en-tit inside-banner-title">
            أولويات مجلس <br />التجارة الإلكترونية
          </h6>
        </div>
      </div>
    </div>
    <section class="priorities-sec">
      <div class="container">
        <div class="row" v-if="!!priorities">
          <!-- Priorities Here -->
          <div
            v-for="priority in prioritiesData"
            class="col-md-4 col-lg-3 col-sm-6 col-12"
          >
            <div class="priorities-box">
              <div class="priorities-image">
                <img :src="priority.image" alt="" />
              </div>
              <div class="priorities-content">
                <h1>{{ priority.content }}</h1>
              </div>
            </div>
          </div>
          <!-- Priorities Here -->
        </div>
      </div>
    </section>
  </main>
</template>
