<script setup lang="ts">
defineProps<{
  loading: boolean
}>()
</script>
<template>
  <v-app-bar class="px-5" :elevation="2" color="black" absolute elevate-on-scroll scroll-target="scroll-tech">
    <v-app-bar-nav-icon @click="$emit('on-handle-sidebar')"></v-app-bar-nav-icon>
    <v-toolbar-title>Application</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn id="menu-activator" icon color="primary">
      <v-icon>mdi-dots-vertical</v-icon>
    </v-btn>
    <v-menu activator="#menu-activator">
      <v-list>
        <v-list-item value="edit-profile" :to="{ name: 'admin.edit.profile' }">
          <v-list-item-title>Edit Profile</v-list-item-title>
        </v-list-item>
        <v-list-item value="logout" :disabled="loading" @click="$emit('on-logout')">
          <v-list-item-title>
            Logout
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>
