<script lang="ts" setup>
import { computed, onMounted } from "vue";

type Menu = {
  title: string
  icon: string | undefined
  pageName?: string | undefined
  subMenus?: {
    title: string
    pageName: string
  }[] | undefined
}

const props = defineProps<{
  title: string
  isSidebarActive: boolean
  menus: Menu[]
  userName: string
}>()

const emit = defineEmits(['on-handle-sidebar'])
const isSidebarActive = computed(() => props.isSidebarActive)

function handleSidebar(close: boolean = false) {
  emit("on-handle-sidebar", close)
}

function onresize() {
  // Hide sidebar if screen size is below 1200
  const screenWidth = window.innerWidth;
  if (screenWidth < 1200) {
    handleSidebar(true)
    return
  } else if (!isSidebarActive.value) {
    handleSidebar()
  }
}

onMounted(() => {
  onresize();
  window.addEventListener('resize', onresize);
})
</script>

<template>
  <v-navigation-drawer v-model="isSidebarActive" permanent>
    <v-list>
      <v-list-item prepend-avatar="https://cdn.vuetifyjs.com/images/john.png" :title="title" :subtitle="userName">
      </v-list-item>
    </v-list>
    <v-divider></v-divider>
    <v-list nav>
      <template v-for="menu of menus">
        <v-list-item v-if="!!menu.pageName" :value="menu.title" active-color="primary" :to="{ name: menu.pageName }">
          <template v-slot:prepend>
            <v-icon :icon="menu.icon"></v-icon>
          </template>
          <v-list-item-title v-text="menu.title"></v-list-item-title>
        </v-list-item>
        <v-list-group v-else-if="!!menu.subMenus" :value="menu.title" active-color="primary">
          <template v-slot:activator="{ props }">
            <v-list-item v-bind="props" :prepend-icon="menu.icon" :title="menu.title"></v-list-item>
          </template>
          <v-list-item v-for="(sub, i) in menu.subMenus" :key="i" :title="sub.title" :value="sub.title"
            :to="{ name: sub.pageName }"></v-list-item>
        </v-list-group>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>
