<script setup lang="ts">
defineProps({
    code: {
        type: Number,
        required: false,
        default: 404
    },
    message: {
        type: String,
        required: false,
        default: "Page not found."
    },
})
</script>
<template>
    <v-card>
        <v-card-title>Error</v-card-title>
        <v-card-text>
            <strong>{{ code }}: </strong> {{ message }}
        </v-card-text>
    </v-card>
</template>