<script setup lang="ts">
import { ref } from 'vue';
import { reactive } from 'vue';

type Header = {
  title: string
  align?: "start" | "center" | "end"
  sortable?: boolean
  key: string
}
type DtParams = { pageNumber: number, rowCount: number, filter: string, sortBy: string, dir: "asc" | "desc" }
const emits = defineEmits(["on-load-data", "on-create-data"])
const props = defineProps<{
  tableTitle: string
  loading: boolean,
  totalRows: number,
  items: Array<object>,
  headers: Header[]
}>()

const options = reactive<DtParams>({
  pageNumber: 1,
  rowCount: 10,
  filter: "",
  sortBy: "",
  dir: "desc"
})

const slotKey = ref<string>(props.tableTitle.toLowerCase())

function onUpdateTable(e: Event | { page: number, itemsPerPage: number, sortBy: Array<{ key: string, order: string }>, groupBy: object[] }) {
  if (!(e instanceof Event)) {
    options.pageNumber = e.page
    options.rowCount = e.itemsPerPage
    options.sortBy = !e.sortBy.length ? "" : e.sortBy[0].key
    options.dir = !e.sortBy.length ? "desc" : e.sortBy[0].order as "asc" | "desc"
  }
  emits("on-load-data", options)
}

function getSNo(index: number) {
  return ((options.pageNumber - 1) * options.rowCount) + index + 1
}
</script>

<template>
  <v-card>
    <v-card-title>
      <v-row class="px-4 pt-4 align-items-center">
        <v-col sm="6">
          {{ tableTitle }}
        </v-col>
        <v-col sm="6" class="text-sm-end">
          <v-btn variant="tonal" @click="$emit('on-create-data')">Create {{ tableTitle }}</v-btn>
        </v-col>
      </v-row>
      <v-spacer class="mb-4"></v-spacer>
      <v-text-field v-model="options.filter" append-icon="mdi-magnify" label="Search" clearable single-line hide-details
        @click:clear="onUpdateTable" @click:append="onUpdateTable"></v-text-field>
    </v-card-title>
    <v-data-table-server :headers="headers" :items="items" :items-length="totalRows" :loading="loading"
      :items-per-page="10" class="elevation-1" @update:options="onUpdateTable" :server-items-length="totalRows">
      <template v-slot:item="{ item, index }">
        <tr :key="index">
          <td>{{ getSNo(index) }}</td>
          <slot name="body" v-bind="{ [slotKey]: item.raw }"></slot>
        </tr>
      </template>
    </v-data-table-server>
  </v-card>
</template>
