<script setup lang="ts">
import { computed } from '@vue/reactivity';

const emits = defineEmits(["on-close", "on-confirm"])

const props = defineProps({
  visible: { type: Boolean, required: true },
  title: { type: String, required: true },
  loading: { type: Boolean, default: false },
  confirmBtnTxt: {
    type: String,
    default: "Confirm"
  },
  closeBtnTxt: {
    type: String,
    default: "Close"
  }
});

const showDialog = computed({
  get(): boolean { return props.visible },
  set(newValue: boolean) {
    if (!newValue) {
      emits("on-close")
    }
  }
})
</script>

<template>
  <v-dialog v-model="showDialog">
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ title }}</span>
      </v-card-title>
      <v-card-text>
        <slot />
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="$emit('on-close')">
          {{ closeBtnTxt }}
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="$emit('on-confirm')">
          {{ confirmBtnTxt }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
