<script setup lang="ts">
import { ref, reactive } from 'vue';
import { ucFirst } from "@/utils"
import DataTable from '@/components/Base/DataTable.vue';
import Modal from '@/components/Base/Modal.vue';
import usePromise from '@/hooks/usePromise';
import { watch, computed } from 'vue';
import type { NewsLetterDao } from '@/types/Dao/NewsLetter';
import type { NewsLetterDto } from '@/types/Dto/NewsLetter';
import type { SimpleYearDao } from '@/types/Dao/Year';

type Header = {
    title: string
    align?: "start" | "center" | "end"
    sortable?: boolean
    key: string
}
type DtParams = { pageNumber: number, rowCount: number, filter: string, sortBy: string, dir: string }
const { result, errors, loading, fetching, createPromise } = usePromise();
const selectedId = ref<string>("")
const showDialog = ref<boolean>(false)
const mode = ref<"create" | "update" | "delete" | "">("")
const totalRows = ref<number>(0)
const newsLetterList = reactive<NewsLetterDao[]>([])
const years = reactive<SimpleYearDao[]>([])
const params = reactive<DtParams>({
    pageNumber: 1,
    rowCount: 10,
    filter: "",
    sortBy: "",
    dir: "desc"
})
const newsLData = reactive<NewsLetterDto>({
    title_ar: "",
    title_en: "",
    image: undefined,
    pdf: undefined,
    year_id: undefined
})
const headers: Header[] = [
    { title: "S.no", key: "sno", sortable: false },
    { title: "Image", key: "image_Path", sortable: false },
    { title: "Year", key: "year" },
    { title: "Title En", key: "title_En" },
    { title: "Title Ar", key: "title_Ar" },
    { title: "Action", key: "action", sortable: false }
]

createPromise("/admin/years/list")

function onLoadData(p: DtParams) {
    Object.assign(params, p)
    createPromise("/admin/newsletters", { params: p });
}

function onDialogCall(m: "create" | "update" | "delete", data: any = "") {
    mode.value = m
    if (m == "update" || m == "delete") {
        selectedId.value = data
        if (m == "update") {
            const temp = newsLetterList.find((newsletter: NewsLetterDao) => newsletter.id == data)
            if (!!temp) {
                newsLData.title_ar = temp.title_Ar
                newsLData.title_en = temp.title_En
                newsLData.year_id = temp.year_Id
            }
        }
    }
    showDialog.value = true
}

function onDialogConfirm() {
    let url: string = "admin/newsletters"
    let args: { [key: string]: any } = { method: "POST" }
    if (["create", "update"].indexOf(mode.value) >= 0) {
        const formData = new FormData();
        (<any>Object).entries(newsLData).forEach(([key, value]: [string, any]) => {
            if ((key == "image" || key == "pdf") && !!value) {
                value = value[0]
            }
            formData.append(key, value)
        });
        args["data"] = formData
        if (mode.value == "update") {
            url += "/" + selectedId.value
            args.method = "PUT"
        }
    } else {
        url += "/" + selectedId.value
        args.method = "Delete"
    }
    createPromise(url, args);
}

function onDialogClose() {
    showDialog.value = false
    selectedId.value = mode.value = newsLData.title_ar = newsLData.title_en = ""
    newsLData.year_id = newsLData.pdf = newsLData.image = undefined
}
watch(
    result,
    (newVal: { [key: string]: any }) => {
        if (!!newVal.status) {
            if (!!newVal.data?.years) {
                years.push(...newVal.data.years)
            } else if (!!newVal.data?.newsletters) {
                if (!totalRows.value != newVal.data.newsletters.total) {
                    totalRows.value = newVal.data.newsletters.total
                }
                newsLetterList.length = 0
                newsLetterList.push(...newVal.data.newsletters.list)
            } else if (!!mode.value) {
                onDialogClose()
                onLoadData(params)
            }
        }
    },
    {
        immediate: false,
    }
);

const imageErrors = computed(() => errors.value?.image)
const titleEnErrors = computed(() => errors.value?.title_en)
const titleArErrors = computed(() => errors.value?.title_ar)
const pdfErrors = computed(() => errors.value?.pdf)
const yearIdErrors = computed(() => errors.value?.year_id)

</script>

<template>
    <v-row>
        <v-col sm="12">
            <DataTable :loading="loading" :items="newsLetterList" :headers="headers" :total-rows="totalRows"
                table-title="Newsletter" @on-load-data="onLoadData($event)" @on-create-data="onDialogCall('create')">
                <template v-slot:body="{ newsletter }">
                    <td>
                        <v-img :width="200" aspect-ratio="1/1" cover :src="'/' + newsletter.image_Path"></v-img>
                    </td>
                    <td>{{ newsletter.year }}</td>
                    <td>{{ newsletter.title_En }}</td>
                    <td>{{ newsletter.title_Ar }}</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <v-btn color="secondary" size="small"
                                @click="onDialogCall('update', newsletter.id)">Edit</v-btn>
                            <v-btn color="danger" size="small" @click="onDialogCall('delete', newsletter.id)">Delete</v-btn>
                        </div>
                    </td>
                </template>
            </DataTable>
            <Modal :visible="showDialog" :title="ucFirst(mode + ' newsletter')" :confirm-btn-txt="mode" :loading="loading"
                @on-close="onDialogClose" @on-confirm="onDialogConfirm">
                <template v-if="['create', 'update'].indexOf(mode) >= 0">
                    <v-file-input class="mb-3" label="Image" id="image" name="image" v-model="newsLData.image"
                        :error="!!imageErrors" :error-messages="imageErrors"></v-file-input>
                    <v-file-input class="mb-3" label="Pdf" id="pdf" name="pdf" v-model="newsLData.pdf" :error="!!pdfErrors"
                        :error-messages="pdfErrors"></v-file-input>
                    <v-text-field type="text" class="mb-3" label="Title Ar" id="title-ar" name="title_ar"
                        placeholder="Enter title ar..." v-model="newsLData.title_ar" focused single-line
                        :error="!!titleArErrors" :error-messages="titleArErrors" />
                    <v-text-field type="text" class="mb-3" label="Title En" id="title-en" name="title_en"
                        placeholder="Enter title en..." v-model="newsLData.title_en" single-line :error="!!titleEnErrors"
                        :error-messages="titleEnErrors" />
                    <v-select v-model="newsLData.year_id" :items="years" item-title="year" item-value="id"
                        label="Select Year" :error="!!yearIdErrors" :error-messages="yearIdErrors" single-line></v-select>
                </template>
                <p v-else>Are you sure you want to delete this newsletter?</p>
            </Modal>
        </v-col>
    </v-row>
</template>