<script setup lang="ts">
import { ref, reactive } from "vue";
import { convertDateStr, ucFirst } from "@/utils";
import DataTable from "@/components/Base/DataTable.vue";
import Modal from "@/components/Base/Modal.vue";
import usePromise from "@/hooks/usePromise";
import { watch, computed } from "vue";
import type { NewsDao } from "@/types/Dao/News";
import type { NewsDto } from "@/types/Dto/News";

type Header = {
  title: string;
  align?: "start" | "center" | "end";
  sortable?: boolean;
  key: string;
};
type DtParams = {
  pageNumber: number;
  rowCount: number;
  filter: string;
  sortBy: string;
  dir: string;
};
const { result, errors, loading, fetching, createPromise } = usePromise();
const selectedId = ref<string>("");
const showDialog = ref<boolean>(false);
const mode = ref<"create" | "update" | "delete" | "">("");
const totalRows = ref<number>(0);
const newsList = reactive<NewsDao[]>([]);
const params = reactive<DtParams>({
  pageNumber: 1,
  rowCount: 10,
  filter: "",
  sortBy: "",
  dir: "desc",
});
const newsData = reactive<NewsDto>({
  image: undefined,
  title_en: "",
  body_en: "",
  title_ar: "",
  body_ar: "",
  date: undefined,
});

const headers: Header[] = [
  { title: "S.no", key: "sno", sortable: false },
  { title: "Image", key: "image_Path", sortable: false },
  { title: "Title En", key: "title_En" },
  { title: "Title Ar", key: "title_Ar" },
  { title: "Date", key: "date" },
  { title: "Action", key: "action", sortable: false },
];

function onLoadData(p: DtParams) {
  Object.assign(params, p);
  createPromise("/admin/news", { params: p });
}

function onDialogCall(m: "create" | "update" | "delete", data: any = "") {
  mode.value = m;
  if (m == "update" || m == "delete") {
    selectedId.value = data;
    if (m == "update") {
      const temp = newsList.find((news: NewsDao) => news.id == data);
      if (!!temp) {
        newsData.title_ar = temp.title_Ar;
        newsData.title_en = temp.title_En;
        newsData.body_ar = temp.body_Ar;
        newsData.body_en = temp.body_En;
        newsData.date = temp.date;
      }
    }
  }
  showDialog.value = true;
}

function onDialogConfirm() {
  let url: string = "admin/news";
  let args: { [key: string]: any } = { method: "POST" };
  if (["create", "update"].indexOf(mode.value) >= 0) {
    const formData = new FormData();
    (<any>Object).entries(newsData).forEach(([key, value]: [string, any]) => {
      if (key == "image" && !!value) {
        value = value[0];
      }
      formData.append(key, value);
    });
    args["data"] = formData;
    if (mode.value == "update") {
      url += "/" + selectedId.value;
      args.method = "PUT";
    }
  } else {
    url += "/" + selectedId.value;
    args.method = "Delete";
  }
  createPromise(url, args);
}

function onDialogClose() {
  selectedId.value = "";
  showDialog.value = false;
  mode.value = "";
  newsData.title_ar = "";
  newsData.title_en = "";
  newsData.body_ar = "";
  newsData.body_en = "";
  newsData.date = newsData.image = undefined;
}

watch(
  result,
  (newVal: { [key: string]: any }) => {
    if (!!newVal.status) {
      if (!!newVal.data?.news) {
        if (!totalRows.value != newVal.data.news.total) {
          totalRows.value = newVal.data.news.total;
        }
        newsList.length = 0;
        newsList.push(...newVal.data.news.list);
      } else if (!!mode.value) {
        onDialogClose();
        onLoadData(params);
      }
    }
  },
  {
    immediate: false,
  }
);

const imageErrors = computed(() => errors.value?.image);
const titleEnErrors = computed(() => errors.value?.title_en);
const titleArErrors = computed(() => errors.value?.title_ar);
const bodyEnErrors = computed(() => errors.value?.body_en);
const bodyArErrors = computed(() => errors.value?.body_ar);
const dateErrors = computed(() => errors.value?.date);
</script>

<template>
  <v-row>
    <v-col sm="12">
      <DataTable
        :loading="loading"
        :items="newsList"
        :headers="headers"
        :total-rows="totalRows"
        table-title="News"
        @on-load-data="onLoadData($event)"
        @on-create-data="onDialogCall('create')"
      >
        <template v-slot:body="{ news }">
          <td>
            <v-img
              :width="200"
              aspect-ratio="1/1"
              cover
              :src="'/' + news.image_Path"
            ></v-img>
          </td>
          <td>{{ news.title_En }}</td>
          <td>{{ news.title_Ar }}</td>
          <td>{{ convertDateStr(news.date) }}</td>
          <td>
            <div class="d-flex justify-content-between">
              <v-btn
                color="secondary"
                size="small"
                @click="onDialogCall('update', news.id)"
                >Edit</v-btn
              >
              <v-btn color="danger" size="small" @click="onDialogCall('delete', news.id)"
                >Delete</v-btn
              >
            </div>
          </td>
        </template>
      </DataTable>
      <Modal
        :visible="showDialog"
        :title="ucFirst(mode + ' news')"
        :confirm-btn-txt="mode"
        :loading="loading"
        @on-close="onDialogClose"
        @on-confirm="onDialogConfirm"
      >
        <template v-if="['create', 'update'].indexOf(mode) >= 0">
          <v-file-input
            class="mb-3"
            label="Image"
            id="image"
            name="image"
            v-model="newsData.image"
            :error="!!imageErrors"
            :error-messages="imageErrors"
          ></v-file-input>
          <v-text-field
            type="text"
            class="mb-3"
            label="Title Ar"
            id="title-ar"
            name="title_ar"
            placeholder="Enter title ar..."
            v-model="newsData.title_ar"
            focused
            single-line
            :error="!!titleArErrors"
            :error-messages="titleArErrors"
          />
          <v-text-field
            type="text"
            class="mb-3"
            label="Title En"
            id="title-en"
            name="title_en"
            placeholder="Enter title en..."
            v-model="newsData.title_en"
            single-line
            :error="!!titleEnErrors"
            :error-messages="titleEnErrors"
          />
          <v-text-field
            type="text"
            class="mb-3"
            label="Body Ar"
            id="body-ar"
            name="body_ar"
            placeholder="Enter body ar..."
            v-model="newsData.body_ar"
            single-line
            :error="!!bodyArErrors"
            :error-messages="bodyArErrors"
          />
          <v-text-field
            type="text"
            class="mb-3"
            label="Body En"
            id="body-en"
            name="body_en"
            placeholder="Enter body en..."
            v-model="newsData.body_en"
            single-line
            :error="!!bodyEnErrors"
            :error-messages="bodyEnErrors"
          />
          <v-text-field
            type="date"
            class="mb-3"
            label="Date"
            id="date"
            name="date"
            placeholder="Choose date..."
            v-model="newsData.date"
            single-line
            :error="!!dateErrors"
            :error-messages="dateErrors"
          />
        </template>
        <p v-else>Are you sure you want to delete this news?</p>
      </Modal>
    </v-col>
  </v-row>
</template>
