<script setup lang="ts">
import { ref, reactive } from 'vue';
import { ucFirst } from "@/utils"
import DataTable from '@/components/Base/DataTable.vue';
import Modal from '@/components/Base/Modal.vue';
import usePromise from '@/hooks/usePromise';
import { watch, computed } from 'vue';
import type { PartnerDao } from '@/types/Dao/Partner';
import type { PartnerDto } from '@/types/Dto/Partner';

type Header = {
    title: string
    align?: "start" | "center" | "end"
    sortable?: boolean
    key: string
}
type DtParams = { pageNumber: number, rowCount: number, filter: string, sortBy: string, dir: string }
const { result, errors, loading, fetching, createPromise } = usePromise();
const selectedId = ref<string>("")
const showDialog = ref<boolean>(false)
const mode = ref<"create" | "update" | "delete" | "">("")
const totalRows = ref<number>(0)
const partnerList = reactive<PartnerDao[]>([])
const params = reactive<DtParams>({
    pageNumber: 1,
    rowCount: 10,
    filter: "",
    sortBy: "",
    dir: "desc"
})
const partnerData = reactive<PartnerDto>({
    url: "",
    image: undefined,
})

const headers: Header[] = [
    { title: "S.no", key: "sno", sortable: false },
    { title: "Image", key: "image_path", sortable: false },
    { title: "Url", key: "url" },
    { title: "Action", key: "action", sortable: false }
]

function onLoadData(p: DtParams) {
    Object.assign(params, p)
    createPromise("/admin/partners", { params: p });
}

function onDialogCall(m: "create" | "update" | "delete", data: any = "") {
    mode.value = m
    if (m == "update" || m == "delete") {
        selectedId.value = data
        if (m == "update") {
            const temp = partnerList.find((partner: PartnerDao) => partner.id == data)
            if (!!temp) {
                partnerData.url = temp.url
            }
        }
    }
    showDialog.value = true
}

function onDialogConfirm() {
    let url: string = "admin/partners"
    let args: { [key: string]: any } = { method: "POST" }
    if (["create", "update"].indexOf(mode.value) >= 0) {
        const formData = new FormData();
        (<any>Object).entries(partnerData).forEach(([key, value]: [string, any]) => {
            if (key == "image" && !!value) {
                value = value[0]
            }
            formData.append(key, value)
        });
        args["data"] = formData
        if (mode.value == "update") {
            url += "/" + selectedId.value
            args.method = "PUT"
        }
    } else {
        url += "/" + selectedId.value
        args.method = "Delete"
    }
    createPromise(url, args);
}

function onDialogClose() {
    showDialog.value = false
    selectedId.value = mode.value = partnerData.url = ""
    partnerData.image = undefined
}

watch(
    result,
    (newVal: { [key: string]: any }) => {
        if (!!newVal.status) {
            if (!!newVal.data?.partners) {
                if (!totalRows.value != newVal.data.partners.total) {
                    totalRows.value = newVal.data.partners.total
                }
                partnerList.length = 0
                partnerList.push(...newVal.data.partners.list)
            } else if (!!mode.value) {
                onDialogClose()
                onLoadData(params)
            }
        }
    },
    {
        immediate: false,
    }
);

const imageErrors = computed(() => errors.value?.image)
const urlErrors = computed(() => errors.value?.url)

</script>

<template>
    <v-row>
        <v-col sm="12">
            <DataTable :loading="loading" :items="partnerList" :headers="headers" :total-rows="totalRows"
                table-title="Partner" @on-load-data="onLoadData($event)" @on-create-data="onDialogCall('create')">
                <template v-slot:body="{ partner }">
                    <td>
                        <v-img :width="200" aspect-ratio="1/1" cover :src="'/' + partner.image_Path"></v-img>
                    </td>
                    <td>
                        <v-btn :href="partner.url" target="_blank" color="success">View</v-btn>
                    </td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <v-btn color="secondary" size="small" @click="onDialogCall('update', partner.id)">Edit</v-btn>
                            <v-btn color="danger" size="small" @click="onDialogCall('delete', partner.id)">Delete</v-btn>
                        </div>
                    </td>
                </template>
            </DataTable>
            <Modal :visible="showDialog" :title="ucFirst(mode + ' partner')" :confirm-btn-txt="mode" :loading="loading"
                @on-close="onDialogClose" @on-confirm="onDialogConfirm">
                <template v-if="['create', 'update'].indexOf(mode) >= 0">
                    <v-file-input class="mb-3" label="Image" id="image" name="image" v-model="partnerData.image"
                        :error="!!imageErrors" :error-messages="imageErrors" />
                    <v-text-field type="url" class="mb-3" label="Url" id="url" name="url" placeholder="Enter url..."
                        v-model="partnerData.url" focused single-line :error="!!urlErrors" :error-messages="urlErrors" />
                </template>
                <p v-else>Are you sure you want to delete this partner?</p>
            </Modal>
        </v-col>
    </v-row>
</template>