<script setup lang="ts">
import {
    ref,
    reactive,
    computed
} from 'vue';
import {
    ucFirst
} from "@/utils"
import DataTable from '@/components/Base/DataTable.vue';
import Modal from '@/components/Base/Modal.vue';
import usePromise from '@/hooks/usePromise';
import {
    watch
} from 'vue';
import type {
    PdfDao
} from '@/types/Dao/Pdf';
import type {
    PdfDto
} from '@/types/Dto/Pdf';

type Header = {
    title: string
    align?: "start" | "center" | "end"
    sortable?: boolean
    key: string
}
type DtParams = {
    pageNumber: number,
    rowCount: number,
    filter: string,
    sortBy: string,
    dir: string
}
const {
    result,
    errors,
    loading,
    fetching,
    createPromise
} = usePromise();
const selectedId = ref<string>("")
const showDialog = ref<boolean>(false)
const mode = ref<"create" | "update" | "delete" | "">("")
const totalRows = ref<number>(0)
const pdfList = reactive<PdfDao[]>([])
const params = reactive<DtParams>({
    pageNumber: 1,
    rowCount: 10,
    filter: "",
    sortBy: "",
    dir: "desc"
})
const pdfData = reactive<PdfDto>({
    title_ar: "",
    title_en: "",
    image: undefined,
    pdf: undefined
})

const headers: Header[] = [{
    title: "S.no",
    key: "sno",
    sortable: false
},
{
    title: "Image",
    key: "image_path",
    sortable: false
},
{
    title: "Title Ar",
    key: "title_Ar"
},
{
    title: "Title En",
    key: "title_En"
},
{
    title: "Action",
    key: "action",
    sortable: false
}
]

function onLoadData(p: DtParams) {
    Object.assign(params, p)
    createPromise("/admin/pdfs", {
        params: p
    });
}

function onDialogCall(m: "create" | "update" | "delete", data: any = "") {
    mode.value = m
    if (m == "update" || m == "delete") {
        selectedId.value = data
        if (m == "update") {
            const temp = pdfList.find((pdf: PdfDao) => pdf.id == data)
            if (!!temp) {
                pdfData.title_ar = temp.title_Ar
                pdfData.title_en = temp.title_En
            }
        }
    }
    showDialog.value = true
}

function onDialogConfirm() {
    let url: string = "admin/pdfs"
    let args: {
        [key: string]: any
    } = {
        method: "POST"
    }
    if (["create", "update"].indexOf(mode.value) >= 0) {
        const formData = new FormData();
        (<any>Object).entries(pdfData).forEach(([key, value]: [string, any]) => {
            if ((key == "image" || key == "pdf") && !!value) {
                value = value[0]
            }
            formData.append(key, value)
        });
        args["data"] = formData
        if (mode.value == "update") {
            url += "/" + selectedId.value
            args.method = "PUT"
        }
    } else {
        url += "/" + selectedId.value
        args.method = "Delete"
    }
    createPromise(url, args);
}

function onDialogClose() {
    showDialog.value = false
    selectedId.value = mode.value = pdfData.title_ar = pdfData.title_en = ""
    pdfData.image = pdfData.pdf = undefined
}

watch(
    result,
    (newVal: {
        [key: string]: any
    }) => {
        if (!!newVal.status) {
            if (!!newVal.data?.pdfs) {
                if (!totalRows.value != newVal.data.pdfs.total) {
                    totalRows.value = newVal.data.pdfs.total
                }
                pdfList.length = 0
                pdfList.push(...newVal.data.pdfs.list)
            } else if (!!mode.value) {
                onDialogClose()
                onLoadData(params)
            }
        }
    }, {
    immediate: false,
}
);

const imageErrors = computed(() => errors.value?.image)
const titleEnErrors = computed(() => errors.value?.title_en)
const titleArErrors = computed(() => errors.value?.title_ar)
const pdfErrors = computed(() => errors.value?.pdf)
</script>

<template>
    <v-row>
        <v-col sm="12">
            <DataTable :loading="loading" :items="pdfList" :headers="headers" :total-rows="totalRows" table-title="Pdf"
                @on-load-data="onLoadData($event)" @on-create-data="onDialogCall('create')">
                <template v-slot:body="{ pdf }">
                    <td>
                        <v-img :width="200" aspect-ratio="1/1" cover :src="'/' + pdf.image_Path"></v-img>
                    </td>
                    <td>{{ pdf.title_Ar }}</td>
                    <td>{{ pdf.title_En }}</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <v-btn color="secondary" size="small" @click="onDialogCall('update', pdf.id)">Edit</v-btn>
                            <v-btn color="danger" size="small" @click="onDialogCall('delete', pdf.id)">Delete</v-btn>
                        </div>
                    </td>
                </template>
            </DataTable>
            <Modal :visible="showDialog" :title="ucFirst(mode + ' pdf')" :confirm-btn-txt="mode" :loading="loading"
                @on-close="onDialogClose" @on-confirm="onDialogConfirm">
                <template v-if="['create', 'update'].indexOf(mode) >= 0">
                    <v-file-input class="mb-3" label="Image" id="image" name="image" v-model="pdfData.image"
                        :error="!!imageErrors" :error-messages="imageErrors"></v-file-input>
                    <v-file-input class="mb-3" label="Pdf" id="pdf" name="pdf" v-model="pdfData.pdf" :error="!!pdfErrors"
                        :error-messages="pdfErrors"></v-file-input>
                    <v-text-field type="text" class="mb-3" label="Title Ar" id="title-ar" name="title_ar"
                        placeholder="Enter title ar..." v-model="pdfData.title_ar" focused single-line
                        :error="!!titleArErrors" :error-messages="titleArErrors" />
                    <v-text-field type="text" class="mb-3" label="Title En" id="title-en" name="title_en"
                        placeholder="Enter title en..." v-model="pdfData.title_en" single-line :error="!!titleEnErrors"
                        :error-messages="titleEnErrors" />
                </template>
                <p v-else>Are you sure you want to delete this pdf?</p>
            </Modal>
        </v-col>
    </v-row>
</template>
