<script setup lang="ts">
import { ref, reactive } from 'vue';
import { ucFirst } from "@/utils"
import DataTable from '@/components/Base/DataTable.vue';
import Modal from '@/components/Base/Modal.vue';
import usePromise from '@/hooks/usePromise';
import { watch, computed } from 'vue';
import type { TaskAndPriorityDao } from '@/types/Dao/TaskAndPriority';
import type { TaskAndPriorityDto } from '@/types/Dto/TaskAndPriority';

type Header = {
    title: string
    align?: "start" | "center" | "end"
    sortable?: boolean
    key: string
}
type DtParams = { pageNumber: number, rowCount: number, filter: string, sortBy: string, dir: string }
const { result, errors, loading, fetching, createPromise } = usePromise();
const selectedId = ref<string>("")
const showDialog = ref<boolean>(false)
const mode = ref<"create" | "update" | "delete" | "">("")
const totalRows = ref<number>(0)
const priorityList = reactive<TaskAndPriorityDao[]>([])
const params = reactive<DtParams>({
    pageNumber: 1,
    rowCount: 10,
    filter: "",
    sortBy: "",
    dir: "desc"
})
const priorityData = reactive<TaskAndPriorityDto>({
    content_ar: "",
    content_en: "",
    image: undefined
})

const headers: Header[] = [
    { title: "S.no", key: "sno", sortable: false },
    { title: "Image", key: "image_Path", sortable: false },
    { title: "Content Ar", key: "content_Ar" },
    { title: "Content En", key: "content_En" },
    { title: "Action", key: "action", sortable: false }
]

function onLoadData(p: DtParams) {
    Object.assign(params, p)
    createPromise("/admin/priorities", { params: p });
}

function onDialogCall(m: "create" | "update" | "delete", data: any = "") {
    mode.value = m
    if (m == "update" || m == "delete") {
        selectedId.value = data
        if (m == "update") {
            const temp = priorityList.find((priority: TaskAndPriorityDao) => priority.id == data)
            if (!!temp) {
                priorityData.content_ar = temp.content_Ar
                priorityData.content_en = temp.content_En
            }
        }
    }
    showDialog.value = true
}

function onDialogConfirm() {
    let url: string = "admin/priorities"
    let args: { [key: string]: any } = { method: "POST" }
    if (["create", "update"].indexOf(mode.value) >= 0) {
        const formData = new FormData();
        (<any>Object).entries(priorityData).forEach(([key, value]: [string, any]) => {
            if (key == "image" && !!value) {
                value = value[0]
            }
            formData.append(key, value)
        });
        args["data"] = formData
        if (mode.value == "update") {
            url += "/" + selectedId.value
            args.method = "PUT"
        }
    } else {
        url += "/" + selectedId.value
        args.method = "Delete"
    }
    createPromise(url, args);
}

function onDialogClose() {
    showDialog.value = false
    selectedId.value = mode.value = priorityData.content_ar = priorityData.content_en = ""
    priorityData.image = undefined
}

watch(
    result,
    (newVal: { [key: string]: any }) => {
        if (!!newVal.status) {
            if (!!newVal.data?.priorities) {
                if (!totalRows.value != newVal.data.priorities.total) {
                    totalRows.value = newVal.data.priorities.total
                }
                priorityList.length = 0
                priorityList.push(...newVal.data.priorities.list)
            } else if (!!mode.value) {
                onDialogClose()
                onLoadData(params)
            }
        }
    },
    {
        immediate: false,
    }
);

const imageErrors = computed(() => errors.value?.image)
const contentEnErrors = computed(() => errors.value?.content_en)
const contentArErrors = computed(() => errors.value?.content_ar)

</script>

<template>
    <v-row>
        <v-col sm="12">
            <DataTable :loading="loading" :items="priorityList" :headers="headers" :total-rows="totalRows"
                table-title="Priority" @on-load-data="onLoadData($event)" @on-create-data="onDialogCall('create')">
                <template v-slot:body="{ priority }">
                    <td>
                        <v-img :width="200" aspect-ratio="1/1" cover :src="'/' + priority.image_Path"></v-img>
                    </td>
                    <td>{{ priority.content_Ar }}</td>
                    <td>{{ priority.content_En }}</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <v-btn color="secondary" size="small" @click="onDialogCall('update', priority.id)">Edit</v-btn>
                            <v-btn color="danger" size="small" @click="onDialogCall('delete', priority.id)">Delete</v-btn>
                        </div>
                    </td>
                </template>
            </DataTable>
            <Modal :visible="showDialog" :title="ucFirst(mode + ' priority')" :confirm-btn-txt="mode" :loading="loading"
                @on-close="onDialogClose" @on-confirm="onDialogConfirm">
                <template v-if="['create', 'update'].indexOf(mode) >= 0">
                    <v-file-input class="mb-3" label="Image" id="image" name="image" v-model="priorityData.image"
                        :error="!!imageErrors" :error-messages="imageErrors" />
                    <v-text-field type="text" class="mb-3" label="Content Ar" id="content-ar" name="content_ar"
                        placeholder="Enter content ar..." v-model="priorityData.content_ar" focused single-line
                        :error="!!contentArErrors" :error-messages="contentArErrors" />
                    <v-text-field type="text" class="mb-3" label="Content En" id="content-en" name="content_en"
                        placeholder="Enter content en..." v-model="priorityData.content_en" single-line
                        :error="!!contentEnErrors" :error-messages="contentEnErrors" />
                </template>
                <p v-else>Are you sure you want to delete this priority?</p>
            </Modal>
        </v-col>
    </v-row>
</template>