<script setup lang="ts">
import { ref, reactive, computed } from "vue";
import { ucFirst } from "@/utils";
import DataTable from "@/components/Base/DataTable.vue";
import Modal from "@/components/Base/Modal.vue";
import usePromise from "@/hooks/usePromise";
import { watch } from "vue";
import type { YearDao } from "@/types/Dao/Year";
import type { YearDto } from "@/types/Dto/Year";

type Header = {
  title: string;
  align?: "start" | "center" | "end";
  sortable?: boolean;
  key: string;
};
type DtParams = {
  pageNumber: number;
  rowCount: number;
  filter: string;
  sortBy: string;
  dir: string;
};
const { result, errors, loading, fetching, createPromise } = usePromise();
const selectedId = ref<string>("");
const showDialog = ref<boolean>(false);
const mode = ref<"create" | "update" | "delete" | "">("");
const totalRows = ref<number>(0);
const yearList = reactive<YearDao[]>([]);
const params = reactive<DtParams>({
  pageNumber: 1,
  rowCount: 10,
  filter: "",
  sortBy: "",
  dir: "desc",
});
const yearData = reactive<YearDto>({
  title_ar: "",
  title_en: "",
  year: "",
});

const headers: Header[] = [
  { title: "S.no", key: "sno", sortable: false },
  { title: "Title Ar", key: "title_Ar", sortable: false },
  { title: "Title En", key: "title_En", sortable: false },
  { title: "Year", key: "year", sortable: false },
  { title: "Action", key: "action", sortable: false },
];

function onLoadData(p: DtParams) {
  Object.assign(params, p);
  createPromise("/admin/years", { params: p });
}

function onDialogCall(m: "create" | "update" | "delete", data: any = "") {
  mode.value = m;
  if (m == "update" || m == "delete") {
    selectedId.value = data;
    if (m == "update") {
      const temp = yearList.find((year: YearDao) => year.id == data);
      if (!!temp) {
        yearData.title_ar = temp.title_Ar;
        yearData.title_en = temp.title_En;
        yearData.year = temp.year;
      }
    }
  }
  showDialog.value = true;
}

function onDialogConfirm() {
  let url: string = "admin/years";
  let args: { [key: string]: any } = { method: "POST" };
  if (["create", "update"].indexOf(mode.value) >= 0) {
    const formData = new FormData();
    (<any>Object).entries(yearData).forEach(([key, value]: [string, any]) => {
      formData.append(key, value);
    });
    args["data"] = formData;
    if (mode.value == "update") {
      url += "/" + selectedId.value;
      args.method = "PUT";
    }
  } else {
    url += "/" + selectedId.value;
    args.method = "Delete";
  }
  createPromise(url, args);
}

function onDialogClose() {
  showDialog.value = false;
  selectedId.value = mode.value = yearData.title_ar = yearData.title_en = yearData.year =
    "";
}

watch(
  result,
  (newVal: { [key: string]: any }) => {
    if (!!newVal.status) {
      if (!!newVal.data?.years) {
        if (!totalRows.value != newVal.data.years.total) {
          totalRows.value = newVal.data.years.total;
        }
        yearList.length = 0;
        yearList.push(...newVal.data.years.list);
      } else if (!!mode.value) {
        onDialogClose();
        onLoadData(params);
      }
    }
  },
  {
    immediate: false,
  }
);

const yearErrors = computed(() => errors.value?.year);
const titleEnErrors = computed(() => errors.value?.title_en);
const titleArErrors = computed(() => errors.value?.title_ar);
</script>

<template>
  <v-row>
    <v-col sm="12">
      <DataTable
        :loading="loading"
        :items="yearList"
        :headers="headers"
        :total-rows="totalRows"
        table-title="Year"
        @on-load-data="onLoadData($event)"
        @on-create-data="onDialogCall('create')"
      >
        <template v-slot:body="{ year }">
          <td>{{ year.year }}</td>
          <td>{{ year.title_Ar }}</td>
          <td>{{ year.title_En }}</td>
          <td>
            <div class="d-flex justify-content-between">
              <v-btn
                color="secondary"
                size="small"
                @click="onDialogCall('update', year.id)"
                >Edit</v-btn
              >
              <v-btn color="danger" size="small" @click="onDialogCall('delete', year.id)"
                >Delete</v-btn
              >
            </div>
          </td>
        </template>
      </DataTable>
      <Modal
        :visible="showDialog"
        :title="ucFirst(mode + ' year')"
        :confirm-btn-txt="mode"
        :loading="loading"
        @on-close="onDialogClose"
        @on-confirm="onDialogConfirm"
      >
        <template v-if="['create', 'update'].indexOf(mode) >= 0">
          <v-text-field
            type="text"
            class="mb-3"
            label="Title Ar"
            id="title-ar"
            name="title_ar"
            placeholder="Enter title ar..."
            v-model="yearData.title_ar"
            focused
            single-line
            :error="!!titleArErrors"
            :error-messages="titleArErrors"
          />
          <v-text-field
            type="text"
            class="mb-3"
            label="Title En"
            id="title-en"
            name="title_en"
            placeholder="Enter title en..."
            v-model="yearData.title_en"
            single-line
            :error="!!titleEnErrors"
            :error-messages="titleEnErrors"
          />
          <v-text-field
            type="number"
            class="mb-3"
            label="year"
            id="year"
            name="year"
            placeholder="Enter year..."
            v-model="yearData.year"
            single-line
            :error="!!yearErrors"
            :error-messages="yearErrors"
          />
        </template>
        <p v-else>Are you sure you want to delete this year?</p>
      </Modal>
    </v-col>
  </v-row>
</template>
