<script lang="ts">
// declare additional options
export default {
  name: "AdminLayout"
}
</script>
<script setup lang="ts">
import Footer from '@/components/Layout/Footer.vue';
import Header from '@/components/Layout/Header.vue';
import Sidebar from '@/components/Layout/Sidebar.vue';
import usePromise from '@/hooks/usePromise';
import { useMainStore } from '@/store';
import { watch } from 'vue';
import { ref, computed } from 'vue';
import { useRouter } from 'vue-router';

type Menu = {
  title: string;
  icon: string | undefined;
  pageName?: string | undefined;
  subMenus?:
  | {
    title: string;
    pageName: string;
  }[]
  | undefined;
};
const store = useMainStore()
const router = useRouter()
const { result, loading, createPromise } = usePromise();
const menus: Menu[] = [
  { title: "Dashboard", icon: "mdi-monitor-dashboard", pageName: "admin.dashboard" },
  {
    title: "List",
    icon: "mdi-format-list-bulleted",
    subMenus: [
      { title: "News", pageName: "admin.lists.news" },
      { title: "Pdfs", pageName: "admin.lists.pdfs" },
      { title: "Partners", pageName: "admin.lists.partners" },
      { title: "Tasks", pageName: "admin.lists.tasks" },
      { title: "Priorities", pageName: "admin.lists.priorities" },
      { title: "Years", pageName: "admin.lists.years" },
      { title: "Newsletters", pageName: "admin.lists.newsletters" },
    ],
  },
];
const isAuth = computed<boolean>(() => store.isAuth)
const userName = computed<string>(() => !!store.user ? store.user.name : "")
const isSidebarActive = ref<boolean>(true);
function handleSidebar(close: boolean = false) {
  isSidebarActive.value = !close ? !isSidebarActive.value : false;
}
async function logout() {
  await createPromise("/admin/logout", { method: "POST" })
}

watch(result, (newVal) => {
  if (!!newVal.status) {
    store.setUser()
    router.replace({ name: "admin.auth.login" })
  }
})
</script>
<template>
  <v-app id="inspire">
    <template v-if="isAuth">
      <Header @on-handle-sidebar="handleSidebar()" @on-logout="logout()" :loading="loading" />
      <Sidebar title="Admin Panel" :is-sidebar-active="isSidebarActive" :menus="menus"
        @on-handle-sidebar="handleSidebar($event)" :userName="userName" />
    </template>
    <v-main class="bg-dark-lighten-2">
      <v-container fluid>
        <slot />
      </v-container>
    </v-main>
    <Footer v-if="isAuth" />
  </v-app>
</template>
