<script lang="ts">
// declare additional options
export default {
  name: "FrontLayout",
};
</script>
<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
const show = ref(false);
const width = ref("100px");
const router = useRoute();

function toggleWidth(close = false) {
  show.value = !close ? !show.value : false;
  width.value = show.value ? "300px" : "100px";
}

onMounted(() => {
  /*-------------SCROLL SPY-------------*/
  {
    ("use strict");
    const sectionsIDs: HTMLElement[] = Array.from(document.querySelectorAll(".section"));
    let sectionsOffsets: { [key: string]: number } = {};
    sectionsIDs.forEach((e: HTMLElement) => {
      sectionsOffsets[e.id] = e.offsetTop;
    });

    window.addEventListener("scroll", function () {
      const scrollPosition: number =
        document.documentElement.scrollTop || document.body.scrollTop;
      for (const cur of sectionsIDs) {
        if (sectionsOffsets[cur.id] <= scrollPosition + 50) {
          Array.from(document.querySelectorAll(".active3")).forEach((e) =>
            e.classList.remove("active3")
          );
          Array.from(document.querySelectorAll(`a[href*= ${cur.id}]`)).forEach((e) =>
            e.classList.add("active3")
          );
        }
      }
    });
  }
  /*-------------SMOOTH SCROLL-------------*/
  {
    ("use strict");
    function scrollIt(
      destination: HTMLElement | number,
      duration: number = 200,
      easing: string = "linear"
    ) {
      const easings: { [key: string]: (p: number) => number } = {
        linear(t: number) {
          return t;
        },
        easeInQuad(t: number) {
          return t * t;
        },
        easeOutQuad(t: number) {
          return t * (2 - t);
        },
        easeInOutQuad(t: number) {
          return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
        },
        easeInCubic(t: number) {
          return t * t * t;
        },
        easeOutCubic(t: number) {
          return --t * t * t + 1;
        },
        easeInOutCubic(t: number) {
          return t < 0.5 ? 4 * t * t * t : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1;
        },
        easeInQuart(t: number) {
          return t * t * t * t;
        },
        easeOutQuart(t: number) {
          return 1 - --t * t * t * t;
        },
        easeInOutQuart(t: number) {
          return t < 0.5 ? 8 * t * t * t * t : 1 - 8 * --t * t * t * t;
        },
        easeInQuint(t: number) {
          return t * t * t * t * t;
        },
        easeOutQuint(t: number) {
          return 1 + --t * t * t * t * t;
        },
        easeInOutQuint(t: number) {
          return t < 0.5 ? 16 * t * t * t * t * t : 1 + 16 * --t * t * t * t * t;
        },
      };

      const start = window.pageYOffset;
      const startTime =
        "now" in window.performance ? performance.now() : new Date().getTime();

      const documentHeight = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight,
        document.documentElement.clientHeight,
        document.documentElement.scrollHeight,
        document.documentElement.offsetHeight
      );
      const windowHeight =
        window.innerHeight ||
        document.documentElement.clientHeight ||
        document.getElementsByTagName("body")[0].clientHeight;
      const destinationOffset =
        typeof destination === "number" ? destination : destination.offsetTop;
      const destinationOffsetToScroll = Math.round(
        documentHeight - destinationOffset < windowHeight
          ? documentHeight - windowHeight
          : destinationOffset
      );

      if ("requestAnimationFrame" in window === false) {
        window.scroll(0, destinationOffsetToScroll);
        return;
      }
      function scroll() {
        const now =
          "now" in window.performance ? performance.now() : new Date().getTime();
        const time = Math.min(1, (now - startTime) / duration);
        const timeFunction = easings[easing](time);
        window.scroll(
          0,
          Math.ceil(timeFunction * (destinationOffsetToScroll - start) + start)
        );

        if (window.pageYOffset === destinationOffsetToScroll) {
          return;
        }

        requestAnimationFrame(scroll);
      }
      scroll();
    }
    Array.from(document.querySelectorAll<HTMLAnchorElement>(".scroll")).forEach(
      (e: HTMLAnchorElement) => {
        e.addEventListener("click", () => {
          const el: HTMLElement | null = document.querySelector(
            `#${e.href.split("#")[1]}`
          );
          if (!!el) {
            scrollIt(el, 300, "easeInOutQuint");
          }
        });
      }
    );
  }
});
</script>
<template>
  <header>
    <div class="header-area">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div
              class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-8 text-center logo-border"
            >
              <div class="logo">
                <router-link :to="{name:'home'}">
                  <img src="/images/logo.png" alt="" />
                </router-link>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="logo-bot-p">
                    <a style="color: white" target="_blank" href="mailto:info@ecc.gov.sa"
                      >info@ecc.gov.sa<img src="/images/en.png" alt=""
                    /></a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-2 col-4 pr-0">
              <div class="menu-main d-flex align-items-center">
                <!-- Main-menu -->
                <div class="main-menu">
                  <nav>
                    <ul id="navigation">
                      <li>
                        <router-link :to="{name:'majlis'}">عن المجلس</router-link>
                      </li>
                      <li>
                        <router-link :to="{name:'priorities'}">أولويات المجلس</router-link>
                      </li>
                      <li>
                        <a>
                          برامج المجلس
                          <img src="/images/ar-down.png" alt="" />
                        </a>
                        <ul class="sub-menu">
                          <li>
                            <a href="https://forms.nelc.gov.sa/ar/ecc">
                              مبادرة المركز الوطني للتعلم الإلكتروني
                            </a>
                          </li>
                          <li>
                            <a href="https://wuilt.com/ecc">
                              مبادرة المتاجر الإلكترونية
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a
                          >ابدء رحلة التجارة الإلكترونية
                          <img src="/images/ar-down.png" alt="" />
                        </a>
                        <ul class="sub-menu">
                          <li>
                            <a
                              href="https://business.sa/ServicesAndPrograms/ServicesDetails.html?ServiceID=1"
                            >
                              سجل تجاري
                            </a>
                          </li>
                          <li>
                            <a href="https://freelance.sa/home"> وثيقة العمل الحر </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a>المركز الاعلامي <img src="/images/ar-down.png" alt="" /></a>
                        <ul class="sub-menu">
                          <li>
                            <router-link :to="{ name: 'news.list' }"
                              >أخبار المجلس</router-link
                            >
                          </li>
                          <li>
                            <router-link :to="{name:'bulletins'}">نشرات المجلس</router-link>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <button
                          type="button"
                          class="slide-toggle"
                          style="background: transparent; border: 0; cursor: pointer"
                          @click="toggleWidth()"
                        >
                          <img src="/images/mob-i.png" alt="" />
                        </button>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>
  <transition name="width">
    <div class="meni" v-if="show" :style="{ width: width }">
      <div class="meni-inner">
        <div class="meni-inner-head">
          <button type="button" class="slide-toggle" @click="toggleWidth(true)">
            <i class="fa fa-times"></i>
          </button>
          <div class="logo">
            <router-link :to="{name:'home'}" @click="toggleWidth(true)">
              <img src="/images/logo.png" alt="logo" />
            </router-link>
          </div>
        </div>
        <ul>
          <li>
            <router-link :to="{name:'majlis'}" @click="toggleWidth(true)">عن المجلس</router-link>
          </li>
          <li>
            <router-link :to="{name:'priorities'}" @click="toggleWidth(true)"
              >أولويات المجلس</router-link
            >
          </li>
          <li>
            <details>
              <summary class="mini-sub-menu-main">برامج المجلس</summary>
              <ul class="sub-menu mini-sub-menu-inner">
                <li>
                  <a
                    href="https://forms.nelc.gov.sa/ar/ecc"
                    target="_blank"
                    @click="toggleWidth(true)"
                  >
                    مبادرة المركز الوطني للتعلم الإلكتروني
                  </a>
                </li>
                <li>
                  <a
                    href="https://wuilt.com/ecc"
                    target="_blank"
                    @click="toggleWidth(true)"
                  >
                    مبادرة المتاجر الإلكترونية
                  </a>
                </li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary class="mini-sub-menu-main">ابدء رحلة التجارة الإلكترونية</summary>
              <ul class="sub-menu mini-sub-menu-inner">
                <li>
                  <a
                    href="https://business.sa/ServicesAndPrograms/ServicesDetails.html?ServiceID=1"
                    target="_blank"
                    @click="toggleWidth(true)"
                  >
                    سجل تجاري</a
                  >
                </li>
                <li>
                  <a
                    href="https://freelance.sa/home"
                    target="_blank"
                    @click="toggleWidth(true)"
                  >
                    وثيقة العمل الحر</a
                  >
                </li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary class="mini-sub-menu-main">المركز الاعلامي</summary>
              <ul class="sub-menu mini-sub-menu-inner">
                <li>
                  <router-link :to="{name:'news.list'}" @click="toggleWidth(true)">
                    أخبار المجلس
                  </router-link>
                </li>
                <li>
                  <router-link :to="{name:'bulletins'}" @click="toggleWidth(true)">
                    نشرات المجلس
                  </router-link>
                </li>
              </ul>
            </details>
          </li>
          <li>
            <a
              href="https://mc.gov.sa/ar/eservices/Pages/ServiceDetails.aspx?sID=55"
              target="_blank"
              @click="toggleWidth(true)"
            >
              تقديم بلاغ تجاري
            </a>
          </li>
        </ul>
      </div>
    </div>
  </transition>
  <ul class="bullet-nav" v-if="router.name == 'home'">
    <li class="bullet-nav__item">
      <a href="#banner" class="bullet-nav__link scroll active3"></a>
    </li>
    <li class="bullet-nav__item">
      <a href="#about" class="bullet-nav__link scroll"></a>
    </li>
    <li class="bullet-nav__item">
      <a href="#majlis" class="bullet-nav__link scroll"></a>
    </li>
    <li class="bullet-nav__item">
      <a href="#service" class="bullet-nav__link scroll"></a>
    </li>
    <li class="bullet-nav__item">
      <a href="#footer" class="bullet-nav__link scroll"></a>
    </li>
  </ul>
  <slot />
  <section class="footer section" id="footer">
    <div class="row justify-content-around">
      <div class="col-md-3 col-sm-6 col-12 mb-5">
        <img src="/images/footer-logo.png" alt="" />
        <p>
          يُعد مجلس التجارة الإلكترونية مساهمًا رئيسًا في تنفيذ مبادرة برنامج "تحفيز
          التجارة الإلكترونية" التي من شأنها أن تعزز نمو منظومة أعمال هذه التجارة
        </p>
        <ul class="social-icon">
          <li>
            <a href=" https://www.youtube.com/" target="_blank">
              <img src="/images/youtube.png" alt="" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ecc_saudi" target="_blank">
              <img src="/images/instagram.png" alt="" />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/ecc_saudi" target="_blank">
              <img src="/images/twitter.png" alt="" />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/eccsaudi/about" target="_blank">
              <img src="/images/linkedin.png" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mb-5">
        <h6>روابط مباشرة</h6>
        <ul>
          <li><router-link :to="{name:'home'}">الرئيسية</router-link></li>
          <li><router-link :to="{name:'majlis'}">نبذة عن المجلس</router-link></li>
          <li><router-link :to="{name:'priorities'}">أولويات المجلس</router-link></li>
          <li><router-link :to="{name:'news.list'}">المركز الإعلامي </router-link></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-12 mb-5 d-none">
        <h4>اشترك في القائمة البريدية!</h4>
        <p>كن أول من يعرف عن منتجاتنا الجديدة المخصصة!</p>
        <p>سجل بريدك في نشرتنا البريدية</p>
      </div>
    </div>
    <div class="right">
      <p>جميع الحقوق محفوظة مجلس التجارة الإلكترونية ©</p>
    </div>
  </section>
</template>
<style>
@import "/css/bootstrap.min.css";
@import "/css/owl.carousel.min.css";
@import "/css/slicknav.css";
@import "/css/flaticon.css";
@import "/css/gijgo.css";
@import "/css/animate.min.css";
@import "/css/magnific-popup.css";
@import "/css/fontawesome-all.min.css";
@import "/css/themify-icons.css";
@import "/css/slick.css";
@import "/css/nice-select.css";
@import "/css/style.css";
@import "/css/new-style.css";
@import "/css/new-2-style.css";
@import "/css/responsiveness.css";

.meni {
  /* height: 100px; */
  transition: width 0.5s ease;
}

.width-enter,
.width-leave-to {
  width: 100px;
}

.width-enter-to,
.width-leave {
  width: 200px;
}
</style>
