<script setup lang="ts">
import usePromise from "@/hooks/usePromise";
import { useMainStore } from "@/store";
import { watch, ref, computed } from "vue";
const { result, errors, loading, createPromise } = usePromise();
const store = useMainStore();
const tab = ref<"account" | "password">("account");
const name = ref<string>("");
const email = ref<string>("");
const password = ref<string>("");
const cpassword = ref<string>("");
if (!!store.user) {
  name.value = store.user.name;
  email.value = store.user.email;
}

async function updateProfile() {
  const formData = new FormData();
  if (tab.value == "account") {
    formData.append("name", name.value);
    formData.append("email", email.value);
  } else {
    formData.append("password", password.value);
    formData.append("confirm_password", cpassword.value);
  }
  await createPromise("/admin/update/" + tab.value, {
    method: "POST",
    data: formData,
  });
}

watch(result, (newVal) => {
  if (!!newVal.status && tab.value == "account") {
    store.updateUser({ name: name.value, email: email.value });
  }
});

const nameErrors = computed(() => errors.value?.name);
const emailErrors = computed(() => errors.value?.email);
const passErrors = computed(() => errors.value?.password);
const cPassErrors = computed(() => errors.value?.confirm_password);
</script>

<template>
  <v-row>
    <v-col sm="12">
      <v-card>
        <v-tabs v-model="tab" bg-color="primary">
          <v-tab value="account">Account</v-tab>
          <v-tab value="password">Password</v-tab>
        </v-tabs>
        <v-card-text>
          <v-card-title>
            <h4>Update {{ tab }}</h4>
          </v-card-title>
          <v-window v-model="tab">
            <v-window-item value="account">
              <v-text-field
                type="text"
                class="mb-3"
                label="Name"
                id="name"
                name="name"
                placeholder="Enter name..."
                v-model="name"
                single-line
                :error="!!nameErrors"
                :error-messages="nameErrors"
              />
              <v-text-field
                type="email"
                class="mb-3"
                label="Email"
                id="email"
                name="email"
                placeholder="Enter email..."
                v-model="email"
                single-line
                :error="!!emailErrors"
                :error-messages="emailErrors"
              />
            </v-window-item>
            <v-window-item value="password">
              <v-text-field
                type="password"
                label="Password"
                id="password"
                name="password"
                placeholder="Enter password..."
                v-model="password"
                single-line
                :error="!!passErrors"
                :error-messages="passErrors"
              />
              <v-text-field
                type="password"
                label="Confirm Password"
                id="cpassword"
                name="cpassword"
                placeholder="Enter confirm password..."
                v-model="cpassword"
                single-line
                :error="!!cPassErrors"
                :error-messages="cPassErrors"
              />
            </v-window-item>
          </v-window>
          <v-btn color="primary" @click="updateProfile()" :disabled="loading"
            >Update</v-btn
          >
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
