<script setup lang="ts">
import usePromise from "@/hooks/usePromise";
import { useMainStore } from "@/store";
import { ref, watch, computed } from "vue";
import { useRouter } from "vue-router";
const store = useMainStore();
const router = useRouter();
const email = ref("");
const password = ref("");
const remember = ref<"1" | "0">("1");
const { result, errors, loading, createPromise } = usePromise();

async function onLogin() {
  const formData = new FormData();
  formData.append("email", email.value);
  formData.append("password", password.value);
  formData.append("remember", remember.value);
  await createPromise("/admin/login", {
    method: "POST",
    data: formData,
  });
}

const emailErrors = computed(() => errors.value?.email);
const passErrors = computed(() => errors.value?.password);

watch(result, (newVal: { [key: string]: any }) => {
  if (!!newVal.data.user) {
    store.setUser(newVal.data.user);
    router.replace({ name: "admin.dashboard" });
  }
});
</script>

<template>
  <v-row class="mt-2" justify="center">
    <v-col :sm="4">
      <v-card title="Login" subtitle="to your account to continue">
        <v-card-item>
          <v-text-field
            type="email"
            class="mb-3"
            label="Email"
            id="email"
            name="email"
            placeholder="Enter email address..."
            v-model="email"
            focused
            single-line
            :error="!!emailErrors"
            :error-messages="emailErrors"
          />
          <div class="mb-3">
            <v-text-field
              type="password"
              label="Password"
              id="password"
              name="password"
              placeholder="Enter password..."
              v-model="password"
              single-line
              :error="!!passErrors"
              :error-messages="passErrors"
            />
            <v-btn variant="plain" size="small" to="/"> Forgot password? </v-btn>
          </div>
          <v-checkbox
            class="mb-3"
            v-model="remember"
            color="secondary"
            id="remember"
            name="remember"
            label="Remember Me?"
            false-value="0"
            true-value="1"
            single-line
            hide-details
          />
          <v-btn variant="tonal" @click="onLogin" :disabled="loading"> Login </v-btn>
        </v-card-item>
      </v-card>
    </v-col>
  </v-row>
</template>
